<!-- (C) Copyright 2018 Hewlett Packard Enterprise Development LP. -->
{% extends "bootstrap/base.html" %}

{% block scripts %}

{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

{% endblock %}

{% block content %}
{% set pagename = "Devices" %}
{% include 'navbar.html' %}

<table width="100%" class="table table-sm">
    <form method="post">
	<input id='action' name='action' type='hidden' value='' />
        <tr>
            <td width="2%">Item</td>
            <td width="1%" align="left" nowrap>IP Address</td>
            <td width="6%" align="left" valign="top"><input type="image" name="action" src="/static/images/arrow_triangle-down.png" alt="Order by IP address" value="order by ipaddress" style="outline:none !important;" onclick = "return setHidden('order by ipaddress');"></td>
            <td width="1%" align="left">Description</td>
            <td width="10%" align="left" valign="top"><input type="image" name="action" src="/static/images/arrow_triangle-down.png" alt="Order by description" value="order by description" style="outline:none !important;"  onclick = "return setHidden('order by description');"></td>
            <td width="10%">Operating System</td>
            <td width="23%">Platform</td>
            <td width="19%">Software version</td>
            <td width="6%">Username</td>
            <td width="6%">Password</td>
            <td width="16%" align="right"><input type="submit" name="action" class="btn btn-primary btn-sm" value="Home" style="color: darkorange; background-color: black;"   onclick = "return setHidden('Home');"> <input type="submit" name="action" class="btn btn-primary btn-sm" value="Add device" style="color: darkorange; background-color: black;"   onclick = "return setHidden('Add device');"></td>
        </tr>
    </form>
    <tbody>
        {% if formresult ['action']  == 'Add device' %}
        <tr>
            <form method="post">
                <td scope="row"><small>Add</small></td>
                <td colspan="2"><input type="text" name="ipaddress" class="form-control"></td>
                <td colspan="2"><input type="text" name="description" class="form-control" size="50"></td>
                <td colspan="3">&nbsp;</td>
                <td><input type="text" name="username" class="form-control"> </td>
                <td><input type="password" name="password" class="form-control"></td>
                <td align="right">
                    <input type="submit" name="action" value="Submit device" class="btn btn-primary btn-sm" style="color: darkorange; background-color: black;">
                </td>
            </form>
        </tr>
        {% endif %}

        {% set deviceidlist = [] %}
        {% for deviceid in result %}
        {% do deviceidlist.append(deviceid.id) %}
        {% endfor %}
        {% for info in result %}
        {% if formresult.action=="Edit" and info.id|string==formresult.id  %}
        <tr>
            <form method="post">
                <td scope="row"><small> {{ loop.index }} </small></td>
                <td colspan="2"><input type="text" name="ipaddress" class="form-control" value="{{ info['ipaddress'] }}"></td>
                <td colspan="2"><input type="text" name="description" class="form-control" value="{{ info ['description'] }}" size="50"></td>
                <td><small> {{ info['ostype'] }} </small></td>
                <td><small> {{ info['platform_name'] }} {{ info['platform'] }} </small></td>
                <td><small> {{ info['swversion'] }} {{ info['osversion'] }} </small></td>
                <td><input type="text" name="username" class="form-control" value="{{ info['username'] }}"> </td>
                <td><input type="password" name="password" class="form-control" value="{{ decryptPass("ArubaRocks!!!!!!",info['password']) }}"></td>
                <td align="right">
                    <input type="hidden" name="id" value="{{ info['id'] }}">
                    <input type="submit" name="action" value="Submit changes" class="btn btn-primary btn-sm" style="color: darkorange; background-color: black;">
                </td>
            </form>
        </tr>
        {% else %}
        <tr>
            <td scope="row"><small> {{ loop.index }} </small></td>
            <td colspan="2"><small> {{ info['ipaddress'] }} </small></td>
            <td colspan="2"><small> {{ info['description'] }} </small></td>
            <td><small> {{ info['ostype'] }} </small></td>
            <td><small> {{ info['platform_name'] }} {{ info['platform'] }} </small></td>
            <td><small> {{ info['swversion'] }} {{ info['osversion'] }} </small></td>
            <td><small> {{ info['username'] }} </small></td>
            <td><small> xxxxxxxxx </small></td>
            <td align="right">
                <form method="post">
                    <input type="submit" name="action" value="Edit" class="btn btn-primary btn-sm" style="color: darkorange; background-color: black;">
                    <input type="submit" name="action" value="Delete" class="btn btn-primary btn-sm" style="color: darkorange; background-color: black;" onclick="return confirm('Are you sure you want to delete this item?')">
                    <input type="hidden" name="id" value="{{ info['id'] }}">
                </form>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
