<nav class="navbar navbar-inverse navbar-fixed-top">
    <p class="navbar-text navbar-left" style="color: darkorange;"><strong>If it moves, graph it</strong>&nbsp;&nbsp;</p>
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="/" style="color: darkorange;"><strong>Devices</strong></a></li>
            <li><a href="/deviceinfo" style="color: darkorange;"><strong>Device Monitoring</strong></a></li>
        </ul>
        <p class="navbar-text navbar-right" style="color: darkorange"><strong>{{ pagename }} &nbsp;&nbsp;</strong></p>
    </div>
</nav>
<div style="height: 30px"></div>