/*
(C) Copyright 2021 Hewlett Packard Enterprise Development LP.
*/



.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 10px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 3px;
    pointer-events: none;
    min-width: 75px;
    max-width: 255px;
    min-height: 20px;
    max-height: 150px;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-image: url("images/compassbg.png");
    z-index: -100;
}

img {
    vertical-align: middle;
}

.border {
    height: 12px;
    border: 0.1pt solid black;
}

.noborder {
    border: none;
}


textarea {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

select {
    font-size: 11px;
}

input[type="text"]{
    font-size: 11px;
}

input[type="password"] {
    font-size: 11px;
}

.textwrapper {
    border: 1px solid #999999;
    margin: 5px 0;
    padding: 3px;
}

#maincontainer {
    list-style: none;
    width: 100%;
    top: 30px;
    left: 0px;
    position: absolute;
    z-index:0;
    opacity: .9;
}


#maincontainer div {
    width: 100%;
    float: left;
    position: relative;
}

    #maincontainer .divfiftypercent {
        display: inline-block;
        margin-right: 5px;
        margin-left: 5px;
        width: 49%;
        text-align: center;
        vertical-align: top;
    }


#liProgress {
        position: absolute;
        width: 350px;
        height: 25px;
        line-height: 25px;
        background-color: #4CAF50;
        text-align: center;
        vertical-align: middle;
        color: white;
        right: 0;
        left: 900px;
        top: 0px;
        z-index: 101;
        text-decoration: none;
        pointer-events: none;
    }


.grid-container {
    display: grid;
    grid-template-columns: 30fr 30fr 39.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas: "switchinfo switchinfo switchinfo" "cpu memory interfaces";
    width: 99vw;
}

.switchinfo {
    grid-area: switchinfo;
}

.cpuinfo {
    grid-area: cpu;
}

.memoryinfo {
    grid-area: memory;
}

.interfaces {
    grid-area: interfaces;
}


.afcgrid-container {
    display: grid;
    grid-template-columns: 50fr 49.5fr 0.5fr;
    gap: 5px 5px;
    grid-template-areas: "afcswitchinfo afcportinfo";
    width: 99vw;
}

.afcswitchinfo {
    grid-area: afcswitchinfo;
}

.afcportinfo {
    grid-area: afcportinfo;
}

.afcgrid-container {
    display: grid;
    grid-template-columns: 50fr 49.5fr 0.5fr;
    gap: 5px 5px;
    grid-template-areas: "afcleft afcright";
    width: 99vw;
}

.afcswitchinfo {
    grid-area: afcleft;
}

.afcportinfo {
    grid-area: afcright;
}

.afcvmhostinfo {
    grid-area: afcleft;
}

.afcvmtopoinfo {
    grid-area: afcright;
}



.divfiftypercent {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    width: 49%;
    text-align: center;
    vertical-align: top;
}


.transparentOverlay {
    height: 100%;
    background-color: grey;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: none;
    z-index: 100;
    text-align: center;
    color: darkgreen;
    font-size: 14px;
}


.transparent-button {
    position: relative;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-decoration: none;
}


    .transparent-button:hover {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: auto,scroll;
        outline: none;
        text-decoration: none;
    }



button, input[type="button"], input[type="submit"] {
    background-color: #BBBBBB;
    font-family: Arial, Helvetica, sans-serif;
    color: #015b86;
    outline: 0;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    padding: 4px 4px;
    text-align: center;
    display: inline-block;
    font-size: 9px;
    margin: 1px 1px;
    cursor: pointer;
}


.button:disabled,
.button[disabled] {
    background-color: #EEEEEE;
    border: none;
    border-radius: 3px;
    color: #BBBBBB;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 9px;
    margin: 1px 1px;
    cursor: pointer;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background-color: #AAAAAA;
    font-family: Arial, Helvetica, sans-serif;
    color: #029feb;
    outline: 0;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    padding: 4px 4px;
    text-align: center;
    display: inline-block;
    font-size: 9px;
    margin: 1px 1px;
    cursor: pointer;
}


.whiteBG {
    border: 1px solid black;
    background-color: #ffffff;
}

table.tablewithborder {
    width: 99%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-collapse: collapse;
    background-color: #ffffff;
}
    table.tablewithborder .tableTitle {
        border: 1px solid #444444;
        background-color: #777777;
    }


    table.tablewithborder .tableTitle td {
        padding-left:4px;
        padding-right:4px;
    }



table.tablenoborder {
    width: 99%;
    margin-left: .5%;
    margin-right: .5%;
    margin-top: .2%;
    margin-bottom: .2%;
    border: none;
    border-collapse: collapse;
}

table.tablenoborder .tableTitle {
    background-color: #777777;
}

table.tablenoborder td {
    border: none;
}

table.insidetable {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
}

    table.insidetable td {
        border: 1px solid black;
    }

.font10px {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.font11px {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

.font12px {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.font12pxgrey {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #555555;
    text-decoration: none;
}

.font10pxwhite {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #EEEEEE;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

.font11pxwhite {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #EEEEEE;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

.font12pxwhite {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #EEEEEE;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

.font13px {
    font-size: 13px;
    font-weight: bold;
}

.font9pxgrey {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #555555;
    text-decoration: none;
}

.font10pxgrey {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #555555;
    text-decoration: none;
}

.font11pxgrey {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #555555;
    text-decoration: none;
}

.font11pxgreen {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: green;
    text-decoration: none;
}

.font11pxred {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: red;
    text-decoration: none;
}

.font12pxgrey {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #555555;
    text-decoration: none;
}

.font13pxgrey {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #555555;
    text-decoration: none;
}

.font13pxwhite {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #EEEEEE;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

.font14px {
    font-size: 14px;
    font-weight: bold;
}

.input {
    line-height: 10px;
    width: 90%;
}


.profiletooltip {
    position: relative;
    display: inline-block;
}

    .profiletooltip .profiletooltiptext {
        visibility: hidden;
        width: 300px;
        background-color: darkgray;
        border: 1px solid red;
        color: #000;
        font-size: 12px;
        text-align: left;
        border-radius: 2px;
        padding: 4px 4px;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 160%;
        left: 90%;
        margin-left: -200px;
    }

    .profiletooltip:hover .profiletooltiptext {
        visibility: visible;
    }

.roletooltip {
    position: relative;
    display: inline-block;
}

    .roletooltip .roletooltiptext {
        visibility: hidden;
        width: 300px;
        background-color: darkgray;
        border: 1px solid red;
        color: #000;
        font-size: 12px;
        text-align: left;
        border-radius: 2px;
        padding: 4px 4px;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 160%;
        left: 90%;
        margin-left: -200px;
    }

    .roletooltip:hover .roletooltiptext {
        visibility: visible;
    }

.alttooltip {
    position: relative;
    display: inline-block;
}

    .alttooltip .alttooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        margin-bottom: -40px;
        opacity: 0;
        transition: opacity 0.3s;
    }

        .alttooltip .alttooltiptext::after {
            content: " ";
            position: absolute;
            bottom: 100%; /* At the top of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent black transparent;
        }

    .alttooltip:hover .alttooltiptext {
        visibility: visible;
        opacity: 1;
    }

.progresstooltip {
    position: absolute;
    display: inline-block;
    text-align: right;
    margin-left: -20px;
    margin-top: 10px;
    z-index: 5;
}

    .progresstooltip .progresstooltiptext {
        visibility: hidden;
        width: 700px;
        overflow: auto,scroll;
        background-color: darkgray;
        border: 1px solid red;
        color: #000;
        font-size: 12px;
        text-align: left;
        border-radius: 2px;
        padding: 4px 4px;
        /* Position the tooltip */
        position: absolute;
        z-index: 5;
        top: 45%;
        left: 10%;
        margin-left: -600px;
    }

    .progresstooltip:hover .progresstooltiptext {
        visibility: visible;
        z-index: 5;
    }


#progressContainer {
    position: relative;
    display: inline-block;
    top:-7px;
    overflow: visible;
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: darkgrey;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

#navigationmenu {
    list-style: none;
    width: 99%;
    top: 2px;
    margin: 0px auto 0px auto;
    position: absolute;
    height: 25px;
    padding: 0px 5px 0px -5px;
    background: #777777;
    z-index: 10;
}


    #navigationmenu .menu_right {
        float: right;
        position: relative;
        top: 5px;
        background: #777777;
        text-decoration: none;
        z-index: 0;
        white-space: nowrap;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #EEEEEE;
        outline: 0;
        text-decoration: none;
        text-shadow: 1px 1px 1px #000;
        margin: 0px 10px 0px 10px;
        vertical-align: middle;
    }

    #navigationmenu .menu_right:hover {
        position: relative;
        top: 5px;
        background: #777777;
        z-index: 0;
    }


    #navigationmenu .menu_left {
        float: left;
        position: relative;
        top: 2px;
        background: #777777;
        text-decoration: none;
        z-index: 0;
        white-space: nowrap;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #EEEEEE;
        outline: 0;
        text-decoration: none;
        text-shadow: 1px 1px 1px #000;
        margin: 0px 0px 0px 0px;
        vertical-align: middle;
    }

        #navigationmenu .menu_left:hover {
            position: relative;
            top: 2px;
            background: #777777;
            z-index: 0;
        }


.parentmenu {
    display: block;
    position: relative;
    float: left;
    line-height: 25px;
    background-color: #777777;
    border-right: #cacaca 1px solid;
}

    .parentmenu a {
        white-space: nowrap;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #EEEEEE;
        outline: 0;
        text-decoration: none;
        text-shadow: 1px 1px 1px #000;
        margin: 0px 10px 0px 10px;
    }

    .parentmenu:hover > ul {
        display: block;
        position: absolute;
        background: #BBBBBB;
        background: -moz-linear-gradient(top, #BBBBBB, #EEEEEE);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbbbbb), to(#eeeeee));
        z-index: 10;
    }



.childmenu {
    display: none;
}

    .childmenu li {
        background-color: #777777;
        line-height: 25px;
        border-bottom: #cacaca 1px solid;
        border-right: #cacaca 1px solid;
        width: 100%;
    }

        .childmenu li a {
            white-space: nowrap;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            color: #EEEEEE;
            outline: 0;
            text-decoration: none;
            text-shadow: 1px 1px 1px #000;
            margin: 0px 10px 0px 10px;
        }

ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    min-width: 10em;
}

    ul ul ul {
        left: 100%;
        top: 0;
        margin-left: 1px;
    }


.parentmenu li:hover {
    background-color: #BBBBBB;
    background: -moz-linear-gradient(top, #BBBBBB, #EEEEEE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbbbbb), to(#eeeeee));
    z-index: 10;
}


li:hover {
    background-color: #BBBBBB;
    background: -moz-linear-gradient(top, #BBBBBB, #EEEEEE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbbbbb), to(#eeeeee));
    z-index: 10;
}


.toggleswitch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.toggleswitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggleslider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggleslider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .toggleslider {
    background-color: darkgreen ;
}

input:focus + .toggleslider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggleslider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
