<!-- (C) Copyright 2019 Hewlett Packard Enterprise Development LP. -->

{% block scripts %}
<script src="static/scripts/jquery-1.10.2.min.js"></script>
<link href="static/stylesheet.css" rel="stylesheet" />
<script type="text/javascript" src="static/main.js"></script>
<script type="text/javascript" src="static/clearpass.js"></script>
{% endblock %}

{% block content %}
{% set pagename = "ClearPass" %}
{% include 'navbar.html' %}

{% if totalentries|int % entryperpage|int == 0 %}
{% set totalpages=(totalentries|int/entryperpage|int)|int %}
{% else %}
{% set totalpages=(totalentries|int/entryperpage|int)|int +1 %}
{% endif %}

<div id="maincontainer">
    <table class="tablenoborder" />
    <form method="post">
        <tr>
            <td align="right">
                <font class="font11pxgrey">
                    Show <select name="entryperpage" onchange="this.form.submit()">
                        <option value="10" {% if entryperpage|int==10 or entryperpage is not defined %} selected {% endif %}>10</option>
                        <option value="25" {% if entryperpage|int==25 %} selected {% endif %}>25</option>
                        <option value="50" {% if entryperpage|int==50 %} selected {% endif %}>50</option>
                        <option value="100" {% if entryperpage|int==100 %} selected {% endif %}>100</option>
                    </select> entries per page (page <select name="pageoffset" onchange="this.form.submit()">
                        {% for i in  range(totalpages) %}
                        <option value="{{ (i)*entryperpage|int }}" {% if (pageoffset|int) /(entryperpage|int) ==(i) %}selected{% endif %}>{{ i+1 }}</option>
                        {% endfor %}
                    </select> of {{ totalpages }} pages)
                </font>
            </td>
        </tr>
        </table>
        <table class="tablenoborder" />

        <input name="action" type="hidden" value="navigation" />
        <input name='currentpageoffset' type='hidden' value="{{pageoffset}}" />
        <input name='currenttotalentries' type='hidden' value="{{totalentries}}" />
        <input name='totalpages' type="hidden" value="{{ totalpages }}" />
        <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
        <tr>
            <td width="2%" align="left" nowrap><font class="font13pxgrey">Item</font></td>
            <td width="2%" align="left"><font class="font13pxgrey">API</font></td>
            <td align="left" nowrap><font class="font13pxgrey">IP address</font></td>
            <td align="left"><font class="font13pxgrey">Description</font></td>
            <td><font class="font13pxgrey">Platform</font></td>
            <td><font class="font13pxgrey">Software version</font></td>
            <td></td>

        </tr>
        <tr style="background-color: grey;" class="tableTitle">
            <td align="left" colspan="2">&nbsp;</td>
            <td align="left" valign="top"><input type="text" name="searchIpaddress" value="{{ formresult.searchIpaddress }}" size="15"></td>
            <td align="left" valign="top"><input type="text" name="searchDescription" value="{{ formresult.searchDescription }}" size="15"></td>
            <td align="left" valign="top">
                <select name="searchPlatform" onchange="this.form.submit();">
                    <option value="">Select</option>
                    {% for items in platformResult %}
                    <option value="{{items['platform']}}" {% if items['platform']|string==formresult['searchPlatform'] %} selected {% endif %}>{{items['platform']}}</option>
                    {% endfor %}
                </select>
            </td>
            <td align="left" valign="top">
                <select name="searchOsversion" onchange="this.form.submit();">
                    <option value="">Select</option>
                    {% for items in osversionResult %}
                    <option value="{{items['osversion']}}" {% if items['osversion']|string==formresult['searchOsversion'] %} selected {% endif %}>{{items['osversion']}}</option>
                    {% endfor %}
                </select>
            </td>
            <td align="right">
                <button type="button" id="addDevice" class="transparent-button" onclick="clearRow(this);" {% if va("clearpassaccess","feature")==False %} disabled style="opacity:0.2;pointer-events:none;" {% endif %}><img src="static/images/add.svg" width="12" height="12" class="showtitleTooltip" data-title="Add device"></button><button type="submit" name="searchAction" id="searchDevice" class="transparent-button" onclick="clearRow(this);"><img src="static/images/search.svg" width="12" height="12" class="showtitleTooltip" data-title="Search"></button>
            </td>
        </tr>
    </form>
    {% for info in result %}
    <form method="post">
        <input name='currentpageoffset' type='hidden' data-currentpageoffset="{{pageoffset}}" />
        <input name="totalpages" type="hidden" data-totalpages="{{ totalpages }}" />
        <input name='entryperpage' type='hidden' value="{{ entryperpage }}" />
        <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
        <input type="hidden" name="searchIpaddress" value="{{ formresult.searchIpaddress }}">
        <input type="hidden" name="searchDescription" value="{{ formresult.searchDescription }}">
        <input type="hidden" name="searchOsversion" value="{{ formresult.searchVersion }}">
        <input type="hidden" name="searchPlatform" value="{{ formresult.searchPlatform }}">
        <input type="hidden" name="id" value="{{ info['id'] }}">
        <tr>
            <td width="2%" scope="row"><font class="font10px"> {{ loop.index }} </font></td>
            <td width="2%">
                <font class="font10px">
                    <div class="cpStatus" id="cpStatus{{info['id']}}" data-deviceid="{{info['id']}}"></div>
                </font>
            </td>
            <td><font class="font10px"> {{ info['ipaddress'] }} </font></td>
            <td><font class="font10px"> {{ info['description'] }} </font></td>
            <td><font class="font10px"> {{ info['platform_name'] }} {{ info['platform'] }} </font></td>
            <td><font class="font10px"> {{ info['swversion'] }} {{ info['osversion'] }} </font></td>
            <td align="right">
                <button type="button" name="action" value="Endpoints" data-deviceid="{{info['id']}}" class="showEndpoints transparent-button" onclick="highlightRow(this);"><img src="static/images/device.svg" width="12" height="12" class="showtitleTooltip" data-title="Show endpoints"></button>
                <button type="button" name="action" value="Certificate Trusts" data-deviceid="{{info['id']}}" class="showTrust transparent-button" onclick="highlightRow(this);"><img src="static/images/certificate.svg" width="12" height="12" class="showtitleTooltip" data-title="Show certificate trusts"></button>
                <button type="button" name="action" value="Services" data-deviceid="{{info['id']}}" class="showServices transparent-button" onclick="highlightRow(this);"><img src="static/images/services.svg" width="12" height="12" class="showtitleTooltip" data-title="Show services"></button>
                <button type="button" name="editDevice" value="Edit" data-deviceid="{{info['id']}}" class="editDevice transparent-button" {% if va("clearpassaccess","feature")==False %} style="opacity:0.2;pointer-events:none;" {% endif %} onclick="highlightRow(this);"><img src="static/images/edit.svg" width="12" height="12" class="showtitleTooltip" data-title="Edit ClearPass"></button>
                <button type="submit" name="action" value="Delete" class="transparent-button" onclick="return confirm('Are you sure you want to delete {{ info['ipaddress'] }}?')" {% if va("clearpassaccess","feature")==False %} disabled style="opacity:0.2;pointer-events:none;" {% endif %}><img src="static/images/trash.svg" width="12" height="12" class="showtitleTooltip" data-title="Delete ClearPass"></button>
            </td>
        </tr>
    </form>
    {% endfor %}
    </tbody>
    </table>

    <div id="adddeviceForm" style="display:none;">
        <table class="tablenoborder">
            <tr style="background-color: grey;" class="tableTitle">
                <td colspan="6"><font class='font13pxwhite'><center>Add ClearPass device</center></font></td>
            </tr>
            <tr>
                <td><font class="font13pxgrey">IP address</font></td>
                <td><font class="font13pxgrey">Description</font></td>
                <td><font class="font13pxgrey">Username</font></td>
                <td><font class="font13pxgrey">Password</font></td>
                <td><font class="font13pxgrey">Shared secret</font></td>
            </tr>
            <tr>
                <form method="post">
                    <input name='currentpageoffset' type='hidden' data-currentpageoffset="{{pageoffset}}" />
                    <input name="totalpages" type="hidden" data-totalpages="{{ totalpages }}" />
                    <input name='entryperpage' type='hidden' value="{{ entryperpage }}" />
                    <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
                    <input type="hidden" name="searchIpaddress" value="{{ formresult.searchIpaddress }}">
                    <input type="hidden" name="searchDescription" value="{{ formresult.searchDescription }}">
                    <input type="hidden" name="searchOsversion" value="{{ formresult.searchVersion }}">
                    <input type="hidden" name="searchPlatform" value="{{ formresult.searchPlatform }}">
                    <td><div class="field"><input type="text" name="ipaddress" class="input"></div></td>
                    <td><div class="field"><input type="text" name="description" class="input" size="50"></div></td>
                    <td><div class="field"><input type="text" name="username" class="input"></div></td>
                    <td><div class="field"><input type="password" name="password" class="input"></div></td>
                    <td><div class="field"><input type="text" name="usersecret" size="40" class="input"></div></td>
                    <td align="right">
                        <div class="actions">
                            <input type="submit" name="action" disabled value="Submit device" class="button">
                        </div>
                    </td>
                </form>
            </tr>
        </table>
    </div>

    <div id="editdeviceForm" style="display:none;">
        <table class="tablenoborder">
            <tr style="background-color: grey;" class="tableTitle">
                <td colspan="6"><font class='font13pxwhite'><center>Edit device <span name="titleeditDescription" id="titleeditDescription"></span> (<span name="titleeditIpaddress" id="titleeditIpaddress"></span>)</center></font></td>
            </tr>
            <tr>
                <td><font class="font13pxgrey">IP address</font></td>
                <td><font class="font13pxgrey">Description</font></td>
                <td><font class="font13pxgrey">Username</font></td>
                <td><font class="font13pxgrey">Password</font></td>
                <td><font class="font13pxgrey">Shared secret</font></td>
            </tr>
            <tr>
                <form method="post">
                    <input type="hidden" name="id" id="editdeviceid" value="">
                    <input name='currentpageoffset' type='hidden' data-currentpageoffset="{{pageoffset}}" />
                    <input name="totalpages" type="hidden" data-totalpages="{{ totalpages }}" />
                    <input name='entryperpage' type='hidden' value="{{ entryperpage }}" />
                    <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
                    <input name="deviceid" type="hidden" id="deviceid" />
                    <input type="hidden" name="searchIpaddress" value="{{ formresult.searchIpaddress }}">
                    <input type="hidden" name="searchDescription" value="{{ formresult.searchDescription }}">
                    <input type="hidden" name="searchOsversion" value="{{ formresult.searchVersion }}">
                    <input type="hidden" name="searchPlatform" value="{{ formresult.searchPlatform }}">
                    <td><input type="text" name="ipaddress" class="input" value="" id="editIpaddress"></td>
                    <td><input type="text" name="description" class="input" value="" id="editDescription" size="50"></td>
                    <td><input type="text" name="username" class="input" id="editUsername" value=""></td>
                    <td><input type="password" name="password" class="input" id="editPassword" value=""></td>
                    <td><input type="text" name="usersecret" class="input" id="editsharedSecret" value=""></td>
                    <td align="right"><input type="submit" name="action" value="Submit changes" class="button"></td>
                </form>
            </tr>
        </table>
    </div>

    <div id="showEndpoints" style="display:none;">Show Endpoints</div>
    <div id="showTrust" style="display:none;">Show Trusted Certificates</div>
    <div id="showServices" style="display:none;">Show Services</div>
    <div id="showdaTooltip" type="display:none;"></div>

    {% endblock %}
