<!-- (C) Copyright 2019 Hewlett Packard Enterprise Development LP. -->

{% block scripts %}
<script src="static/scripts/jquery-1.10.2.min.js"></script>
<link href="static/stylesheet.css" rel="stylesheet" />
<script type="text/javascript" src="static/main.js"></script>
<script type="text/javascript" src="static/dsservice.js"></script>
{% endblock %}

{% block content %}
{% set pagename = "Dynamic Segmentation Services" %}
{% include 'navbar.html' %}

<div id="maincontainer">

    <table class="tablenoborder">
        <form method="post">
            <input id='action' name='action' type='hidden' value='' />
            <tr>
                <td width="4%"><font class="font13pxgrey">Item</font></td>
                <td width="6%" align="left" nowrap><font class="font13pxgrey">Name</font></td>
                <td width="10%" align="left" nowrap><font class="font13pxgrey">Profile</font></td>
                <td width="30%"><font class="font13pxgrey">Policies (ACL's) (Authentication source(s)) (Authentication method(s))</font></td>
                <div id="progress" style="display:block;"><td width="10%"></td></div>
                <td width="10%" align="right"><input type="submit" class="button" value="Add service" onclick="return setHidden('Add service');" {% if va("ubtserviceaccess","feature")==False %} style="opacity:0.2;pointer-events:none;" {% endif %}></td>
            </tr>
        </form>

        {% for info in result %}
        <form method="post">
            <tr>
                <td scope="row"><font class="font12px">{{ loop.index }}</font></td>
                <td><font class="font12px">{{ info['name'] }}</font></td>
                <td>
                    <font class="font12px">
                        {% for items in profileInfo %}
                        {% if items['id'] ==  converttoInteger(info['profile']) %}
                        {{ items['name']}}
                        {% endif %}
                        {% endfor %}
                    </font>
                </td>
                <td nowrap>
                    <font class="font12px">
                        {% set policyNames = converttoJSON(info.policies) %}
                        {% for items in policyNames %}
                        {{items.rname }} (
                        {% for acls in items.ACL %}
                        {{acls.pname}}
                        {% endfor %}
                        ) (
                        {% for sources in items.authSource %}
                        {{ authSource[converttoInteger(sources)] }}
                        {% endfor %}
                        ) (
                        {% for methods in items.authMethod %}
                        {{ authMethod[converttoInteger(methods)] }}
                        {% endfor %}
                        )
                        <br />
                        {% endfor %}
                    </font>
                </td>
                <div id="progress" style="display:block;"><td width="10%"></td></div>
                <td align="right">
                    <input type="button" name="provisionService" value="Provision" class="provisionService" id="{{info['id']}}" {% if va("ubtserviceaccess","feature")==False %} style="opacity:0.2;pointer-events:none;" {% endif %}><input type="submit" name="action" value="Edit" class="button" {% if va("ubtserviceaccess","feature")==False %} style="opacity:0.2;pointer-events:none;" {% endif %}><input type="submit" name="action" value="Delete" class="button" onclick="return confirm('Are you sure you want to delete this item?')" {% if va("ubtserviceaccess","feature")==False %} style="opacity:0.2;pointer-events:none;" {% endif %}>
                    <input type="hidden" name="id" value="{{ info['id'] }}">

                </td>
            </tr>
        </form>
        {% endfor %}
    </table>


    {% if formresult.action=="Edit" or formresult.action=="Add service" %}

    {% if formresult.action=="Edit" %}
    {% set profile = editService.profile %}
    {% set primarycontroller=profileresult[0]['primarycontroller'] %}
    {% set policies = editService.policies %}
    {% elif formresult.action=="Add service" %}
    {% set policies = "[]" %}
    {% endif %}

    <form method="post" name="mainForm" id="mainForm">
        <input type="hidden" name="id" id="id" value="{{ formresult.id }}" />
        <input type="hidden" name="policies" id="policies" value="{{policies}}">
        <input type="hidden" name="profile" id="profile-id" value="{{profile}}" />
        <input type="hidden" name="mcid" id="mcid" value="{{primarycontroller}}" />
        <input type="hidden" name="roleinfoselect" id="roleinfoselect" />
        <div name="roleinfo" id="roleinfo"></div>

                    <table class="tablewithborder">
                        <tr style="background-color:grey;"><td colspan="4"><font class="font13pxwhite"><center>{% if formresult.action=="Add service" %} Add {% elif formresult.action=="Edit" %} Edit {% endif %} service</center></font></td></tr>
                        <tr>
                            <td><font class="font12pxwhite">Name</font></td>
                            <td class="whiteBG"><div class="field"><input type="text" size="30" name="name" value="{{ editService.name }}" /></div></td>
                            <td><font class="font12pxwhite">Profile</font></td>
                            <td class="whiteBG">
                                <select name="profile" id="profile">
                                    <option value="None">Select</option>
                                    {% for item in profileInfo %}
                                    <option value="{{ item['id'] }}" {% if item['id']==converttoInteger(profile) %} selected {% endif %} />{{ item['name'] }}</option>
                                    {% endfor %}
                                </select>
                                <div class="profiletooltip"><img src="/static/images/information.png" width="15px" height="15px"><span class="profiletooltiptext" id="profileInfo"></span></div>
                            </td>
                        </tr>
                    </table>
                    <p></p>
                    <div id="showPolicy">
                        <div id="roletable">
                            <table class='tablewithborder'>
                                <tr style='background-color:grey;'><td colspan='7'><font class="font13pxwhite"><center>Configured policies</center></font></td></tr>
                                <tr style='background-color:grey;'>
                                    <td nowrap><font class='font12pxwhite'>Device authentication</font></td>
                                    <td nowrap><font class='font12pxwhite'>Authentication source(s)</font></td>
                                    <td nowrap><font class='font12pxwhite'>Authentication method(s)</font></td>
                                    <td nowrap><font class='font12pxwhite'>Role</font></td>
                                    <td nowrap><font class='font12pxwhite'>Filter rules</font></td>
                                    <td nowrap><font class='font12pxwhite'>Egress VLAN</font></td>
                                    <td width='10%'>&nbsp;</td>
                                </tr>
                                {% set policyList=converttoJSON(policies) %}
                                {% for items in policyList %}
                                <tr>
                                    <td class="whiteBG">
                                        <font class='font12px'>
                                            {% if items.devauth=="dot1x"%}802.1X{% elif items.devauth=="macauth" %}MAC Authentication{% endif %}
                                        </font>
                                    </td>
                                    <td class="whiteBG">
                                        <font class='font12px'>
                                            {% for sources in items.authSource %}
                                            {{ authSource[converttoInteger(sources)]}}
                                            {% endfor %}
                                        </font>
                                    </td>
                                    <td class="whiteBG">
                                        <font class='font12px'>
                                            {% for methods in items.authMethod %}
                                            {{ authMethod[converttoInteger(methods)]}}
                                            {% endfor %}
                                        </font>
                                    </td>
                                    <td class="whiteBG">
                                        <font class='font12px'>
                                            {{ items.rname }}
                                        </font>
                                    </td>
                                    <td class="whiteBG">
                                        <font class='font12px'>
                                            {% for acls in items.ACL %}
                                            {{ acls.pname }}
                                            {% endfor %}
                                        </font>
                                    </td>
                                    <td class="whiteBG">
                                        <font class='font12px'>
                                            {{items.vlan }}
                                        </font>
                                    </td>
                                    <td class="whiteBG"><input type='button' class='button' id='rolelistAction' value='Delete' data-roleEntry='{{ loop.index-1 }}'></td>
                                </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                    <div id="showProfile">
                        <p></p>
                        <table class="tablewithborder">
                            <tr style="background-color:grey;"><td colspan="4" align="center" style="color:orange;"><font class="font13pxwhite"><center>Manage policies</center></font></td></tr>
                            <tr>
                                <td><font class="font12pxwhite">Device Authentication</font></td>
                                <td class="whiteBG"><select name="devAuth" id="devAuth"><option value="None">Select</option></select></td>
                                <td><font class="font12pxwhite">Role</font></td>
                                <td class="whiteBG">
                                    <select name="mcrole" id="mcrole"><option value="None">Select role</option></select>
                                    <div class="roletooltip"><img src="/static/images/information.png" width="15px" height="15px"><span class="roletooltiptext" id="roleInfo"></span></div>
                                </td>
                            </tr>
                            <tr>
                                <td><font class="font12pxwhite">Authentication method</font></td>
                                <td class="whiteBG" width="30%">
                                    <div id="authMethod"></div>
                                </td>
                                <td><font class="font12pxwhite">Authentication source(s)</font></td>
                                <td class="whiteBG"width="30%">
                                    <div id="authSource"></div>
                                </td>

                            </tr>
                            <tr>
                                <td colspan="4" class="whiteBG" align="center">
                                    <input type="button" name="policyAction" disabled class="button" id="policyAction" value="Add policy">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <p></p>
                    <table class="tablenoborder">
                        <tr>
                            <td align="center">
                                <div class="actions">
                                    <input type="submit" name="action" class="button" disabled value="{% if formresult.action=="Edit" %}Submit changes{% elif formresult.action=="Add service" %}Submit service{% endif %}">
                                </div>
                            </td>
                        </tr>
                    </table>
    </form>

    {% endif %}

    </div>

    {% endblock %}
