<!-- (C) Copyright 2019 Hewlett Packard Enterprise Development LP. -->
{% block scripts %}
<script src="static/scripts/jquery-1.10.2.min.js"></script>
<link href="static/stylesheet.css" rel="stylesheet" />
<script type="text/javascript" src="static/main.js"></script>
<script type="text/javascript" src="static/mobility.js"></script>
{% endblock %}

{% block content %}
{% set pagename = "Mobility Controllers" %}

{% include 'navbar.html' %}

{% if totalentries|int % entryperpage|int == 0 %}
{% set totalpages=(totalentries|int/entryperpage|int)|int %}
{% else %}
{% set totalpages=(totalentries|int/entryperpage|int)|int +1 %}
{% endif %}

<div id="maincontainer" style="background-color: mintcream;">
    <table class="tablenoborder" />
    <form method="post">

        <input name="action" type="hidden" value="navigation" />
        <input name='currentpageoffset' type='hidden' value="{{pageoffset}}" />
        <input name='currenttotalentries' type='hidden' value="{{totalentries}}" />
        <input name='totalpages' type="hidden" value="{{ totalpages }}" />
        <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
        <tr>
            <td width="5%" align="left" nowrap><font class="font13px">Item</font></td>
            <td width="5%" align="left"><font class="font13px">API</font></td>
            <td width="10%" align="left" nowrap><font class="font13px">IP address</font></td>
            <td width="20%" align="left"><font class="font13px">Description</font></td>
            <td width="10%"><font class="font13px">Platform</font></td>
            <td width="10%"><font class="font13px">Software version</font></td>
            <td width="10%"><font class="font13px">Controller role</font></td>
            <td width="30%" align="right">
                <font class="font13px">
                    Show <select name="entryperpage" onchange="this.form.submit()">
                        <option value="10" {% if entryperpage|int==10 or entryperpage is not defined %} selected {% endif %}>10</option>
                        <option value="25" {% if entryperpage|int==25 %} selected {% endif %}>25</option>
                        <option value="50" {% if entryperpage|int==50 %} selected {% endif %}>50</option>
                        <option value="100" {% if entryperpage|int==100 %} selected {% endif %}>100</option>
                    </select> entries per page (page <select name="pageoffset" onchange="this.form.submit()">
                        {% for i in  range(totalpages) %}
                        <option value="{{ (i)*entryperpage|int }}" {% if (pageoffset|int)/(entryperpage|int)==(i) %}selected{% endif %}>{{ i+1 }}</option>
                        {% endfor %}
                    </select> of {{ totalpages }} pages)
                </font>
            </td>
        </tr>
        <tr style="background-color: grey;" class="tableTitle">
            <td align="left" colspan="2">&nbsp;</td>
            <td align="left" valign="top"><input type="text" name="searchIpaddress" value="{{ formresult.searchIpaddress }}" size="15"></td>
            <td align="left" valign="top"><input type="text" name="searchDescription" value="{{ formresult.searchDescription }}" size="15"></td>
            <td align="left" valign="top">
                <select name="searchPlatform" onchange="this.form.submit();">
                    <option value="">Select</option>
                    {% for items in platformResult %}
                    <option value="{{items['platform']}}" {% if items['platform']|string==formresult['searchPlatform'] %} selected {% endif %}>{{items['platform']}}</option>
                    {% endfor %}
                </select>
            </td>
            <td align="left" valign="top">
                <select name="searchOsversion" onchange="this.form.submit();">
                    <option value="">Select</option>
                    {% for items in osversionResult %}
                    <option value="{{items['osversion']}}" {% if items['osversion']|string==formresult['searchOsversion'] %} selected {% endif %}>{{items['osversion']}}</option>
                    {% endfor %}
                </select>
            </td>
            <td></td>
            <td align="right"><input type="button" class="button" value="Add device" id="addDevice" onclick="cleardeviceRow(this);"><input type="submit" name="searchAction" value="Search" class="button" id="searchDevice" onclick="cleardeviceRow(this);" /></td>
        </tr>
    </form>

    <tbody>
        {% for info in result %}
        {% if info['sysinfo'] %}
        {% set sysinfo=converttoJSON(info['sysinfo']) %}
        {% else %}
        {% set sysinfo="Unknown" %}
        {% endif %}
        <form method="post">
            <input name='currentpageoffset' type='hidden' data-currentpageoffset="{{pageoffset}}" />
            <input name="totalpages" type="hidden" data-totalpages="{{ totalpages }}" />
            <input name='entryperpage' type='hidden' value="{{ entryperpage }}" />
            <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
            <input type="hidden" name="searchIpaddress" value="{{ formresult.searchIpaddress }}">
            <input type="hidden" name="searchDescription" value="{{ formresult.searchDescription }}">
            <input type="hidden" name="searchOsversion" value="{{ formresult.searchOsversion }}">
            <input type="hidden" name="searchPlatform" value="{{ formresult.searchPlatform }}">
            <tr>
                <td scope="row"><font class="font12px"> {{ loop.index }} </font></td>
                <td>
                    <font class="font12px">
                        <div class="mcStatus" id="mcStatus{{info['id']}}" data-deviceid="{{info['id']}}"></div>
                    </font>
                </td>
                <td><font class="font12px"> {{ info['ipaddress'] }} </font></td>
                <td><font class="font12px"> {{ info['description'] }} </font></td>
                <td><font class="font12px"> {{ info['platform_name'] }} {{ info['platform'] }} </font></td>
                <td><font class="font12px"> {{ info['swversion'] }} {{ info['osversion'] }} </font></td>
                <td><font class="font12px"> {% if sysinfo=="Unknown" %}Unknown {% else %}{{ sysinfo['_global']['_switch_role'] }} {% endif %}</font></td>
                <td align="right">
                    {% if sysinfo['mm']=="" or sysinfo['mm']=="master"   %}
                    <input type="button" name="Interfaces" value="Interfaces" class="mobilityInterfaces" id="mobilityInterfaces{{info['id']}}" data-deviceid="{{info['id']}}" onclick="highlightdeviceRow(this);" /><input type="button" name="Roles" value="Roles" id="mobilityRoles{{info['id']}}" data-deviceid="{{info['id']}}" class="mobilityRoles" onclick="highlightdeviceRow(this);" /><input type="button" name="Policies" value="Policies" id="mobilityPolicies{{info['id']}}" data-deviceid="{{info['id']}}" class="mobilityPolicies" onclick="highlightdeviceRow(this);" />{% else %}<font class="font11px">Managed by {{ sysinfo['mm'] }} </font>{% endif %}<input type="button" name="editDevice" value="Edit" data-deviceid="{{info['id']}}" class="editDevice" onclick="highlightdeviceRow(this);"><input type="submit" name="action" value="Delete" class="button" onclick="return confirm('Are you sure you want to delete this item?')">
                    <input type="hidden" name="id" value="{{ info['id'] }}">

                </td>
            </tr>
        </form>
        {% endfor %}
    </tbody>



    </table>
    <!--
      Various divs for showing the interface, policy and role forms. Onclick events for this....

    -->
    <div id="addDeviceForm" style="display:none;">

        <p>
            <table class="tablenoborder">
                <tr style="background-color: black;line-height:20px;">
                    <td colspan="5" style="color: darkorange;"><center>Add device</center></td>
                </tr>
                <tr style="line-height:20px;">
                    <td width="20%" align="left" nowrap><font class="font13px">IP address</font></td>
                    <td width="20%"><font class="font13px">Description</font></td>
                    <td width="20%"><font class="font13px">Username</font></td>
                    <td width="20%"><font class="font13px">Password</font></td>
                    <td width="20%"></td>
                </tr>
                <tr>
                    <form method="post">
                        <input name='currentpageoffset' type='hidden' data-currentpageoffset="{{pageoffset}}" />
                        <input name="totalpages" type="hidden" data-totalpages="{{ totalpages }}" />
                        <input name='entryperpage' type='hidden' value="{{ entryperpage }}" />
                        <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
                        <input type="hidden" name="searchIpaddress" value="{{ formresult.searchIpaddress }}">
                        <input type="hidden" name="searchDescription" value="{{ formresult.searchDescription }}">
                        <input type="hidden" name="searchOsversion" value="{{ formresult.searchOsversion }}">
                        <input type="hidden" name="searchPlatform" value="{{ formresult.searchPlatform }}">
                        <td><div class="addField"><input type="text" name="ipaddress" class="input"></div></td>
                        <td><div class="addField"><input type="text" name="description" class="input" size="50"></div></td>
                        <td><div class="addField"><input type="text" name="username" class="input"></div></td>
                        <td><div class="addField"><input type="password" name="password" class="input"></div></td>
                        <td align="right">
                            <div class="addActions">
                                <input type="submit" disabled name="action" value="Submit device" class="button" />
                            </div>
                        </td>
                    </form>
                </tr>
            </table>
        </p>

    </div>


    <div id="editDeviceForm" style="display:none;">
        <p>
            <table class="tablenoborder">
                <tr style="background-color: black;line-height:20px;">
                    <td colspan="5" style="color: darkorange;"><center>Edit device <span name="titleeditDescription" id="titleeditDescription"></span> (<span name="titleeditIpaddress" id="titleeditIpaddress"></span>)</center></td>
                </tr>
                <tr style="line-height:20px;">
                    <td width="12%" align="left" nowrap><font class="font13px">IP address</font></td>
                    <td width="12%"><font class="font13px">Description</font></td>
                    <td width="12%"><font class="font13px">Username</font></td>
                    <td width="12%"><font class="font13px">Password</font></td>
                    <td></td>
                </tr>
                <tr>
                    <form method="post">
                        <input name='currentpageoffset' type='hidden' data-currentpageoffset="{{pageoffset}}" />
                        <input name="totalpages" type="hidden" data-totalpages="{{ totalpages }}" />
                        <input name='entryperpage' type='hidden' value="{{ entryperpage }}" />
                        <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
                        <input name="deviceid" type="hidden" id="deviceid" />
                        <input type="hidden" name="searchIpaddress" value="{{ formresult.searchIpaddress }}">
                        <input type="hidden" name="searchDescription" value="{{ formresult.searchDescription }}">
                        <input type="hidden" name="searchOsversion" value="{{ formresult.searchVersion }}">
                        <input type="hidden" name="searchPlatform" value="{{ formresult.searchPlatform }}">
                        <td><div class="editField"><input type="text" id="editIpaddress" name="ipaddress" class="input"></div></td>
                        <td><div class="editField"><input type="text" id="editDescription" name="description" class="input"></div></td>
                        <td><div class="editField"><input type="text" id="editUsername" name="username" class="input"></div></td>
                        <td><div class="editField"><input type="password" id="editPassword" name="password" class="input"></div></td>
                        <td align="right">
                            <div class="editActions">
                                <input type="submit" name="action" value="Submit changes" class="button" />
                            </div>
                        </td>
                    </form>
                </tr>
            </table>
        </p>
    </div>


    <div id="mobilityInterfaces" style="display:none;">
    </div>
    <div id="interfaceAction" style="display:none;">
    </div>
    <div id="mobilityRoles" style="display:none;">
    </div>
    <div id="roleAction" style="display:none;">
    </div>
    <div id="mobilityPolicies" style="display:none;">
    </div>
    <div id="policyAction" style="display:none;">
    </div>

    </div>
    {% endblock %}
