<!-- (C) Copyright 2019 Hewlett Packard Enterprise Development LP. -->
{% block content %}
<form method="POST" name="{{ name }}">
    <input type="hidden" name="name" value="{{ name }}" />
    <table class="tablenoborder">
        <tr>
            <td width="10%" align="left" nowrap><font class="font11px">{{ name |replace("-", " ") }}</font></td>
            <td width="10%" align="left" nowrap><font class="font11px">{% if status==True %}Started{% else %}Stopped{% endif %}</font></td>
            <td width="10%" align="left" nowrap><font class="font11px">{{ cpu }}%</font></td>
            <td width="10%" align="left" nowrap><font class="font11px">{{ memory }}%</font></td>
            <td width="10%" align="left" nowrap>
                <input type="button" name="Clear log" id="clearLogclick" data-processname="{{ name|lower }}" value="Clear log" class="button clearLog" {% if va("servicesstatusaccess","feature")==False %} style="opacity:0.2;pointer-events:none;" {% endif %} />
                <input type="button" name="Download log" value="Download log" class="button downloadLog" id="{{ name|lower}}showLog" data-processname="{{ name|lower }}">           
                {% if status==True %}
                <input type="submit" name="action" value="Stop" {% if va("servicesstatusaccess","feature")==False %} style="opacity:0.2;pointer-events:none;" {% endif %}/>
                {% else %}
                <input type="submit" name="action" value="Start" {% if va("servicesstatusaccess","feature")==False %} style="opacity:0.2;pointer-events:none;" {% endif %}/>
                {% endif %}
            </td>
        </tr>
    </table>
</form>

{% endblock %}
