    <!-- (C) Copyright 2019 Hewlett Packard Enterprise Development LP. -->

<script>updateCookie({{ authOK | safe }}, {{ sysvars['idle_timeout'] }})</script>
{% set userinfo="Logout" %}

<ul>
    <li class="nav-float-left"><img src="/static/images/umbrella.png" height="25" width="50" title="Carius" /></li>
    <li class="dropdown" {% if pagename=="Switches" or pagename=="ClearPass" or pagename=="Mobility Controllers" %} style="background-color:white" {% endif %}>
        <a href="javascript:void(0)" class="dropbtn">Devices</a>
        <div class="dropdown-content">
            <a href="/switches" style="color: darkorange;">Switches</a>
            <a href="/clearpass" style="color: darkorange;">ClearPass</a>
            <a href="/mobility" style="color: darkorange;">Mobility Controllers</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">ZTP</a>
        <div class="dropdown-content">
            <a href="ztpprofile" style="color: darkorange;">Profiles</a>
            <a href="ztpimage" style="color: darkorange;">Software image repository</a>
            <a href="ztptemplate" style="color: darkorange;">
                Configuration templates
                <a href="ztpdevice" style="color: darkorange;">Devices</a>

        </div>
    </li>
    <li {% if pagename=="Topology" %} style="background-color:white" {% endif %}><a href="/topology" style="color: darkorange;">Topology</a></li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Dynamic Segmentation</a>
        <div class="dropdown-content">
            <a href="dsprofile" style="color: darkorange;">Profiles</a>
            <a href="dsservice" style="color: darkorange;">Services</a>
        </div>
    </li>

    <!--
     <li {% if pagename=="Live Subscriptions" %} style="background-color:white" {% endif %}><a href="/subscribe" style="color: darkorange;">Live Subscriptions</a></li>
       -->
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Trackers</a>
        <div class="dropdown-content">
            <a href="dhcptracker" style="color: darkorange;">DHCP</a>
            <a href="snmptracker" style="color: darkorange;">SNMP</a>
            <a href="syslog" style="color: darkorange;">Syslog</a>
        </div>
    </li>

    <li {% if pagename=="Any CLI" %} style="background-color:white" {% endif %}><a href="/anycli" style="color: darkorange;">Any CLI</a></li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Administration</a>
        <div class="dropdown-content">
            <a href="useradmin" style="color: darkorange;">Users</a>
            <a href="sysconf" style="color: darkorange;">System configuration</a>
            <a href="sysmon" style="color: darkorange;">System Monitoring</a>
        </div>
    </li>
    <li id="liProgress" class="nav-float" style="width: 300px;display: none; overflow: visible;">
        <div class="progressContainer" id="progressContainer">
            <div class="progressInfo" id="progressInfo"></div>
            <div class="progressBar" id="progressBar"></div>
        </div>
    </li>

    <li class="nav-float" style="width: 30px; overflow: visible;">
        <div class="progresstooltip" id="progresstooltip" style="display: none;"><img src="/static/images/information.png" width="15px" height="15px"><div class="progresstooltiptext" id="progresstooltiptext"></div></div>
    </li>
    <li class="nav-float">
        {% if message is not defined %}
        {% set message=[] %}
        {% endif %}

        {% if message[0]=="-" %}
        <a style="color: red;">Notice: {{ message[1] }}</a>
        {% elif message[0]=="+" %}
        <a style="color: green;">Notice: {{ message[1] }}</a>
        {% endif %}

    </li>

    <li class="nav-float-right">
        <div id="userInfo">
            <script>getCookie('username');</script>
        </div>
    </li>
    <li class="nav-float-right">
        <a title="Logout">{{ pagename }}</a>
    </li>
</ul>
