    <!-- (C) Copyright 2019 Hewlett Packard Enterprise Development LP. -->

<script>updateCookie({{ authOK | safe }}, {{ sysvars['idle_timeout'] }})</script>
{% set userinfo="Logout" %}


<ul id="menu">
    <li class="menu_left no_event">
            <img src="/static/images/umbrella.png" height="25" width="50" title="Carius" />
    </li>
    <li class="menu_item">
        <a href="#" class="drop">Devices</a>
        <div class="dropdown align_left">
            <div class="col_1">
                <ul class="simple">
                    <li><a href="/switches">Switches</a></li>
                    <li><a href="/clearpass">Clearpass</a></li>
                    <li><a href="/mobility">Mobility</a></li>
                </ul>
            </div>
        </div>
    </li>

    <li class="menu_item">
        <a href="#" class="drop">ZTP</a>
        <div class="dropdown align_left">
            <div class="col_1">
                <ul class="simple">
                    <li><a href="/ztpimage">Image repository</a></li>
                    <li><a href="/ztptemplate">Templates</a></li>
                    <li><a href="/ztpdevice">Devices</a></li>
                </ul>
            </div>
        </div>
    </li>

    <li class="menu_item">
        <a href="/topology">Topology</a>
    </li>
    <li>
        <a href="#" class="drop">UBT</a>
        <div class="submenu dropdown align_left">
            <div class="col_1">
                <ul class="simple">
                    <li><a href="/dsprofile">Profiles</a></li>
                    <li><a href="/dsservice">Services</a></li>
                </ul>
            </div>
        </div>
    </li>

    <li class="menu_item">
        <a href="#" class="drop">Trackers</a>
        <div class="dropdown align_left">
            <div class="col_1">
                <ul class="simple">
                    <li><a href="/dhcptracker">DHCP</a></li>
                    <li><a href="/snmptracker">SNMP</a></li>
                    <li><a href="/syslog">Syslog</a></li>
                </ul>
            </div>
        </div>
    </li>

    <li class="menu_item">
        <a href="#" class="drop">Tools</a>
        <div class="dropdown align_left">
            <div class="col_1">
                <ul class="simple">
                    <li><a href="/anycli">AnyCLI</a></li>
                </ul>
            </div>
        </div>
    </li>

    <li class="menu_item">
        <a href="#" class="drop">Administration</a>
        <div class="dropdown align_left">
            <div class="col_1">
                <ul class="simple">
                    <li><a href="/useradmin">Users</a></li>
                    <li><a href="/sysconf">System configuration</a></li>
                    <li><a href="/sysmon">Services status</a></li>
                </ul>
            </div>
        </div>
    </li>


    <li id="liProgress" class="nav-float" style="width: 300px;display: none; overflow: visible;">
        <div class="progressContainer" id="progressContainer">
            <div class="progressInfo" id="progressInfo"></div>
            <div class="progressBar" id="progressBar"></div>
        </div>
    </li>

    <li class="nav-float" style="width: 30px; overflow: visible;">
        <div class="progresstooltip" id="progresstooltip" style="display: none;"><img src="/static/images/information.png" width="15px" height="15px"><div class="progresstooltiptext" id="progresstooltiptext"></div></div>
    </li>
    <li class="nav-float">
        {% if message is not defined %}
        {% set message=[] %}
        {% endif %}

        {% if message[0]=="-" %}
        <a style="color: red;">Notice: {{ message[1] }}</a>
        {% elif message[0]=="+" %}
        <a style="color: green;">Notice: {{ message[1] }}</a>
        {% endif %}

    </li>

    <li class="menu_right" >
            <a title="Logout"></a>
        <div id="userInfo">
            <script>getCookie('username');</script>
        </div>
    </li>
    <li class="menu_right no_event" style="top:0px;">
        <div >
            {{ pagename }}
        </div>
    </li>
</ul>