<!-- (C) Copyright 2021 Hewlett Packard Enterprise Development LP. -->
{% block content %}

    <div id="maincontainer">
        <table class='tablewithborder'>
            <tr class="tableTitle"><td colspan='7'><font class='font13pxwhite'><center>Access port client information for device {{deviceInfo['ipaddress']}} ({{deviceInfo['description']}})</center></font></td></tr>
            <tr class="tableTitle">
                <td nowrap><font class='font12pxwhite'>Access port</font></td>
                <td nowrap><font class='font12pxwhite'>Client name</font></td>
                <td nowrap><font class='font12pxwhite'>Authentication type</font></td>
                <td nowrap><font class='font12pxwhite'>Status</font></td>
                <td nowrap><font class='font12pxwhite'>MAC Address</font></td>
                <td nowrap><font class='font12pxwhite'>Session time (seconds)</font></td>
                <td><font class='font12pxwhite'>Action</font></td>
            </tr>

            {% if accessInfo %}

            {% if 'Mac_Auth_Client_UR_Status_Detail' in accessInfo %}
            {% for items in accessInfo['Mac_Auth_Client_UR_Status_Detail'] %}

            <tr class="tableTitle">
                <td style="background-color:#ffffff;" nowrap><font class='font11px'>{{ items['Client Base Details']['Port'] }}</font></td>
                <td style="background-color:#ffffff;" nowrap><font class='font11px'>{{ items['Client Base Details']['Client Name'] }}</font></td>
                <td style="background-color:#ffffff;" nowrap><font class='font11px'>{{ items['Client Base Details']['Authentication Type'] }}</font></td>
                <td style="background-color:#ffffff;" nowrap><font class='font11px'>{{ items['Client Base Details']['Client Status'] }}</font></td>
                <td style="background-color:#ffffff;" nowrap><font class='font11px'>{{ items['Client Base Details']['MAC Address'] }}</font></td>
                <td style="background-color:#ffffff;" nowrap><font class='font11px'>{{ items['Client Base Details']['Session Time'] }}</font></td>
                <td style="background-color:#ffffff;" nowrap width='3%'>
                    <font class='font11px'>
                        <input type='button' value='Disconnect' id='accessAction' data-auth='macauth' data-port='{{ items['Client Base Details']['Port'] }}' data-deviceid='{{ deviceInfo['id'] }}' data-macaddress='{{ items['Client Base Details']['MAC Address'] }}' {% if va("switchaccess","feature")== False %} style="opacity:0.2;pointer-events:none;" {% endif %}>
                    </font>
                </td>
            </tr>

            {% endfor %}
            {% endif %}

            {% if '8021x_Auth_Client_UR_Status_Detail' in accessInfo %}
            {% for items in accessInfo['8021x_Auth_Client_UR_Status_Detail'] %}

            <tr class="tableTitle">
                <td style="background-color:#ffffff;" nowrap><font class='font11px'>{{ items['Client Base Details']['Port'] }}</font></td>
                <td style="background-color:#ffffff;" nowrap><font class='font11px'>{{ items['Client Base Details']['Client name'] }}</font></td>
                <td style="background-color:#ffffff;" nowrap><font class='font11px'>{{ items['Client Base Details']['Authentication Type'] }}</font></td>
                <td style="background-color:#ffffff;" nowrap><font class='font11px'>{{ items['Client Base Details']['Client Status'] }}</font></td>
                <td style="background-color:#ffffff;" nowrap><font class='font11px'>{{ items['Client Base Details']['MAC Address'] }}</font></td>
                <td style="background-color:#ffffff;" nowrap><font class='font11px'>{{ items['Client Base Details']['Session Time'] }}</font></td>
                <td style="background-color:#ffffff;" nowrap width='3%'>
                    <font class='font11px'>
                        <input type='button' value='Disconnect' id='accessAction' data-auth='dot1x' data-port='{{ items['Client Base Details']['Port'] }}' data-deviceid='{{ deviceInfo['id'] }}' data-macaddress='{{ items['Client Base Details']['MAC Address'] }}' {% if va("switchaccess","feature")== False %} style="opacity:0.2;pointer-events:none;" {% endif %}>
                    </font>
                </td>
            </tr>

            {% endfor %}
            {% endif %}
            {% endif %}
        </table>
        </div>
        {% endblock %}
