<!-- (C) Copyright 2022 Hewlett Packard Enterprise Development LP. -->
{% block scripts %}
<script src="static/scripts/jquery-1.10.2.min.js"></script>
<link href="static/stylesheet.css" rel="stylesheet" />
<script type="text/javascript" src="static/main.js"></script>
<script type="text/javascript" src="static/psm.js"></script>
<script type="text/javascript" src="static/psmalertpolicies.js"></script>
{% endblock %}

{% block content %}
{% set pagename = "PSM alert policies" %}

{% include 'navbar.html' %}



<div id="maincontainer">
    <table class="tablenoborder" id="psmalertpolicy">
        <tr>
            <td width="3%"><font class="font13pxgrey">Item</font></td>
            <td width="24%"><font class="font13pxgrey">Policy name</font></td>
            <td width="23%" nowrap><font class="font13pxgrey">Tenant</font></td>
            <td width="10%" nowrap><center><font class="font13pxgrey">Destinations</font></center></td>
            <td width="10%" nowrap><font class="font13pxgrey">Total hits</font></td>
            <td width="10%" nowrap><font class="font13pxgrey">Open alerts</font></td>
            <td width="10%" nowrap><font class="font13pxgrey">Acknowledged alerts</font></td>
            <td width="10%" nowrap><center><font class="font13pxgrey">Requirements</font></center></td>
        </tr>
        <tbody>
            {% for info in psmalertpolicies['items'] %}
            <tr id="tr{{ info['meta']['uuid'] }}" class="alertpolicyInformation" data-info="{{ info | replace("True", "'true'") | replace("False", "'false'")| replace("None", "'none'") }}">
                <td><font class="font10px"><div class="psmalertpolicyindex" id="psmalertpolicyindex{{ loop.index }}" data-id="{{ loop.index }}">{{ loop.index }}</div></font></td>
                <td nowrap><font class="font10px"><div id="alertpolicyname{{ info['meta']['uuid'] }}">{{ info['meta']['name'] }}</div></font></td>
                <td nowrap><font class="font10px"><div id="alertpolicytenant{{ info['meta']['uuid'] }}">{{ info['meta']['tenant'] }}</div></font></td>
                <td nowrap><font class="font10px"><center><img src="static/images/tag.svg" class="showattributeTooltip" width="12" height="12" id="alertdestinations{{ info['meta']['uuid'] }}"></center></font></td>
                <td nowrap><font class="font10px"><div id="totalhits{{ info['meta']['uuid'] }}">{{ info['status']['total-hits'] }}</div></font></td>
                <td nowrap><font class="font10px"><div id="openalerts{{ info['meta']['uuid'] }}">{{ info['status']['open-alerts'] }}</div></font></td>
                <td nowrap><font class="font10px"><div id="acknowledgedalerts{{ info['meta']['uuid'] }}">{{ info['status']['acknowledged-alerts'] }}</div></font></td>
                <td nowrap><font class="font10px"><center><img src="static/images/tag.svg" class="showattributeTooltip" width="12" height="12" id="alertrequirements{{ info['meta']['uuid'] }}"></center></font></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="showdaTooltip" type="display:none;"></div>
    <div class="alertpolicyStatus" type="display:none;" data-alertpolicies="{{ psmalertpolicies | replace("True", "'true'") | replace("False", "'false'")| replace("None", "'none'") }}" data-alertdestinations="{{ psmalertdestinations | replace("True", "'true'") | replace("False", "'false'")| replace("None", "'none'") }}"></div>


</div>
{% endblock %}
