<!-- (C) Copyright 2019 Hewlett Packard Enterprise Development LP. -->

{% block content %}

{%  if sysinfo %}
    <div id="maincontainer" style="background-color: mintcream;">
        <table class="tablewithborder">
            <tr style="background-color: black;">
                <td colspan="10" style="color: darkorange;"><center>{{ ipaddress }} ({{ description }}) Device information</b></center></td>
            </tr>
            <tr style="line-height:12px;">
                <td style="background-color: black;" width="9%"><font face="arial" size="1" style="color: darkorange;">Switch type (Domain)</font></td>
                <td><font face="arial" size="1">VSF ({{ vsfinfo['domain_id'] }})</font></td>
                <td style="background-color: black;" width="9%"><font face="arial" size="1" style="color: darkorange;">Topology (Status)</font></td>
                <td><font face="arial" size="1">{{ vsfinfo['topology'][3:] }} ({{ vsfinfo['status'][3:] }})</font></td>
                <td style="background-color: black;" width="9%"><font face="arial" size="1" style="color: darkorange;">Name</font></td>
                <td><font face="arial" size="1">{{ vsfinfo['name'] }}</font></td>
                <td style="background-color: black;" width="9%"><font face="arial" size="1" style="color: darkorange;">Firmware</font></td>
                <td><font face="arial" size="1">{{ vsfinfo['software_version'] }}</font></td>
            </tr>
            {% for items in sysinfo.vsf_member_element %}
            <tr style="line-height:5px;"><td colspan="8">&nbsp;</td></tr>
            <tr style="line-height:12px;">
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">VSF Member</font></td>
                <td><font face="arial" size="1">{{ items['member_id'] }}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Role</font></td>
                <td><font face="arial" size="1">{{ items['status'][4:] }}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Model</font></td>
                <td><font face="arial" size="1">{{ items['model'] }}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Part number</font></td>
                <td><font face="arial" size="1">{{ items['type'][3:] }}</font></td>
            </tr>
            {% for vsfelementInfo in sysinfo.vsf_member_system_info_element %}
            {% if vsfelementInfo['member_id']==items['member_id'] %}

            <tr style="line-height:12px;">
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Serial number</font></td>
                <td><font face="arial" size="1">{{ vsfelementInfo['serial_num'] }}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">ROM Version</font></td>
                <td><font face="arial" size="1">{{ vsfelementInfo['rom_version'] }}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Uptime</font></td>
                <td colspan="3"><font face="arial" size="1">Days: {{ vsfelementInfo['up_time']['days'] }}, Hours: {{ vsfelementInfo['up_time']['hours'] }}, Minutes: {{ vsfelementInfo['up_time']['minutes'] }}</font></td>
            </tr>
            {% endif %}
            {% endfor %}
            {% for psitems in sysinfo.system_power_supply %}
            {% if psitems['member_id'] == items['member_id'] %}
            <tr style="line-height:12px;">
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Power supply {{psitems['power_supply_number']}} status</font></td>
                <td><font face="arial" size="1">{{psitems['power_supply_state'][5:]}}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Input voltage</font></td>
                <td><font face="arial" size="1">{{psitems['voltage_description']}}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">PoE capable (Used)</font></td>
                <td>
                    <font face="arial" size="1">
                        {% for poeitems in sysinfo.blades %}
                        {% if poeitems['stack_member']== items['member_id'] %}
                        {% if poeitems['is_poe_supported']==True %} Yes  {% else %} No {% endif %}
                        {% for poeusage in sysinfo.system_stats_element %}
                        {% if poeusage['member_id'] == items['member_id'] %}
                        ({{ poeusage['total_poe_consumption']}} W)
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </font>
                </td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Power available</font></td>
                <td><font face="arial" size="1">{{ psitems['max_power_in_watts'] }} W</font></td>
            </tr>
            {% endif %}
            {% endfor %}

            {% for hwitems in sysinfo.blades %}
            {% if hwitems['stack_member'] == items['member_id'] %}
            <tr style="line-height:12px;">
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Fan status</font></td>
                <td>
                    <font face="arial" size="1">
                        {% for hardwareitems in hwitems['hardware_info'] %}
                        {% if hardwareitems['hardware_type'] == "SHT_FAN" %}
                        {{hardwareitems['status'][4:]}}
                        {% endif %}
                        {% endfor %}
                    </font>
                </td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Temperature status</font></td>
                <td>
                    <font face="arial" size="1">
                        {% for hardwareitems in hwitems['hardware_info'] %}
                        {% if hardwareitems['hardware_type'] == "SHT_TEMP" %}
                        {{hardwareitems['status'][4:]}}
                        {% endif %}
                        {% endfor %}
                    </font>
                </td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Power supply status:</font></td>
                <td>
                    <font face="arial" size="1">
                        {% for hardwareitems in hwitems['hardware_info'] %}
                        {% if hardwareitems['hardware_type'] == "SHT_PS" %}
                        {{hardwareitems['status'][4:]}}
                        {% endif %}
                        {% endfor %}
                    </font>
                </td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;"></font></td>
                <td><font face="arial" size="1">&nbsp;</font></td>
            </tr>
            {% endif %}
            {% endfor %}

            {% endfor %}
            <tr style="line-height:5px;"><td colspan="8">&nbsp;</td></tr>
            {% for items in sysinfo.snmp_server_community_element %}
            <tr style="line-height:12px;">
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">SNMP Community</font></td>
                <td><font face="arial" size="1">{{ items['community_name'] }}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Access type</font></td>
                <td><font face="arial" size="1">{{ items['access_type'][3:] }}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Access mode</font></td>
                <td colspan="3"><font face="arial" size="1">{% if items['restricted']==True %} ReadWrite  {% else %} ReadOnly {% endif %}</font></td>
            </tr>
            {% endfor %}
            {% for items in sysinfo.snmpv3_user_element %}
            <tr style="line-height:12px;">
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">SNMPv3 User</font></td>
                <td><font face="arial" size="1">{{ items['user_name'] }}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Authentication protocol</font></td>
                <td><font face="arial" size="1">{{ items['snmpv3_authentication_protocol'][4:] }}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Encryption protocol</font></td>
                <td><font face="arial" size="1">{{ items['snmpv3_authentication_privacy_protocol'][5:] }}</font></td>
            </tr>
            {% endfor %}
            {% for items in sysinfo.radius_server_element %}
            <tr style="line-height:12px;">
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Radius server</font></td>
                <td><font face="arial" size="1">{{ items['address']['octets'] }}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Dynamic Authorization</font></td>
                <td><font face="arial" size="1">{% if items['is_dyn_authorization_enabled']==True %} Enabled  {% else %} Disabled {% endif %}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Authentication port</font></td>
                <td><font face="arial" size="1">{{ items['authentication_port'] }}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Accounting port</font></td>
                <td><font face="arial" size="1">{{ items['accounting_port'] }}</font></td>

            </tr>
            {% endfor %}
            <tr style="line-height:12px;">
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">NTP protocol</font></td>
                <td><font face="arial" size="1">{{ sysinfo['time_server_protocol'][4:] }}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Time server</font></td>
                <td><font face="arial" size="1">{{ sysinfo['Reference ID'] }}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Synchronization status</font></td>
                <td><font face="arial" size="1">{{ sysinfo['Synchronization Status'] }}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">NTP up time</font></td>
                <td><font face="arial" size="1">{{ sysinfo['NTP Up Time'] }}</font></td>
            </tr>
            {% for items in sysinfo.vlan_element %}
            <tr style="line-height:12px;">
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">VLAN ID</font></td>
                <td><font face="arial" size="1">{{ items['vlan_id'] }}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">IP Address</font></td>
                <td>
                    <font face="arial" size="1">
                        {% for ipitems in sysinfo.ip_address_subnet_element %}
                        {% if ipitems['vlan_id'] == items['vlan_id'] %}
                        {% if ipitems['ip_address'] is defined %}
                        {{ ipitems['ip_address']['octets'] }}/{{ ipitems['ip_mask']['octets'] }}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </font>
                </td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Untagged ports</font></td>
                <td>
                    <font face="arial" size="1">
                        {% for vlanitems in sysinfo.vlan_port_element %}
                        {% if ((vlanitems['vlan_id'] == items['vlan_id']) and (vlanitems['port_mode'] == "POM_UNTAGGED")) %}
                        {{ vlanitems['port_id'] }}&nbsp;
                        {% endif %}
                        {% endfor %}
                    </font>
                </td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Tagged ports</font></td>
                <td>
                    <font face="arial" size="1">
                        {% for vlanitems in sysinfo.vlan_port_element %}
                        {% if ((vlanitems['vlan_id'] == items['vlan_id']) and (vlanitems['port_mode'] == "POM_TAGGED_STATIC")) %}
                        {{ vlanitems['port_id'] }}&nbsp;
                        {% endif %}
                        {% endfor %}
                    </font>
                </td>
            </tr>
            {% endfor %}
            {% for items in sysinfo.lacp_element |sort(attribute='trunk_group') %}
            <tr style="line-height:12px;">
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Trunk group</font></td>
                <td><font face="arial" size="1">{{ items['trunk_group'] }}</font></td>
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Port</font></td>
                <td><font face="arial" size="1">{{ items['port_id'] }}</font></td>
                {% for bladeitems in sysinfo.blades %}
                {% for portitems in bladeitems.data_ports %}
                {% if portitems['port_name'] == items['port_id'] %}
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Port speed</font></td>
                <td><font face="arial" size="1">{{ portitems['oper_mode'][3:] }}</font></td>
                {% endif %}
                {% endfor %}
                {% for portitems in bladeitems.data_ports %}
                {% if portitems['port_name'] == items['port_id'] %}
                <td style="background-color: black;"><font face="arial" size="1" style="color: darkorange;">Port status</font></td>
                <td><font face="arial" size="1">{{ portitems['operStatus'][5:] }}</font></td>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </tr>
            {% endfor %}

        </table>

        {% endif %}
        </div>
        {% endblock %}
