<!-- (C) Copyright 2021 Hewlett Packard Enterprise Development LP. -->

{% block content %}

{%  if sysinfo %}
        <table class="tablewithborder">
            <tr class="tableTitle">
                <td colspan="10"><font class="font13pxwhite"><center>{{ ipaddress }} ({{ description }}) Device information</b></center></font></td>
            </tr>
            <tr class="tableTitle">
                <td width="10%"><font class="font12pxwhite">Hostname</font></td>
                <td width="12%" class="whiteBG"><font face="arial" size="1"> {{ sysinfo['name'] }} </font></td>
                <td width="10%"><font class="font12pxwhite">Part number</font></td>
                <td class="whiteBG"><font face="arial" size="1"> {{ sysinfo['product_number'] }} </font></td>
                <td width="10%"><font class="font12pxwhite">Serial Number</font></td>
                <td class="whiteBG"><font face="arial" size="1"> {{ sysinfo['serial_number'] }} </font></tdclass="whiteBG">
                <td width="10%"><font class="font12pxwhite">Model</font></td>
                <td class="whiteBG"><font face="arial" size="1"> {{ sysinfo['product_name'] }} </font></td>
                <td width="10%"><font class="font12pxwhite">Firmware</font></td>
                <td class="whiteBG"><font face="arial" size="1"> {{ sysinfo['firmware_version'] }} </font></td>
            </tr>
            <tr class="tableTitle">

                <td><font class="font12pxwhite">Fan Status</font></td>
                <td class="whiteBG">
                    <font face="arial" size="1">
                        {% for items in sysinfo.hardware_info %}
                        {% if items['hardware_type'] == "SHT_FAN" %}
                        {{ items['status'][4:] }}
                        {% endif %}
                        {% endfor %}
                    </font>
                </td>
                <td><font class="font12pxwhite">Temperature Status</font></td>
                <td class="whiteBG">
                    <font face="arial" size="1">
                        {% for items in sysinfo.hardware_info %}
                        {% if items['hardware_type'] == "SHT_TEMP" %}
                        {{ items['status'][4:] }}
                        {% endif %}
                        {% endfor %}
                    </font>
                </td>
                <td><font class="font12pxwhite">Switch type</font></td>
                <td class="whiteBG"><font face="arial" size="1">Standalone</font></td>
                <td><font class="font12pxwhite">PoE Supported</font></td>
                <td class="whiteBG"><font face="arial" size="1">{% if sysinfo['is_poe_supported']==True %} Yes  {% else %} No {% endif %}</font></td>
                <td><font class="font12pxwhite">Telnet enabled</font></td>
                <td class="whiteBG"><font face="arial" size="1"> {% if sysinfo['is_telnet_server_enabled']==True %} Yes  {% else %} No {% endif %} </font></td>
            </tr>
            {% for items in sysinfo.system_power_supply %}
            <tr class="tableTitle">
                <td><font class="font12pxwhite">Power supply {{ items['power_supply_number'] }} status</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ items['power_supply_state'][5:] }}</font></td>
                <td><font class="font12pxwhite">Power usage</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ items['power_in_use_in_watts'] }} Watt</font></td>
                <td><font class="font12pxwhite">Voltage</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ items['voltage_description'] }}</font></td>
                <td><font class="font12pxwhite">Model (Serial number)</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ items['model_info'] }} ({{ items['serial_number'] }})</font></td>
                <td><font class="font12pxwhite">PoE usage</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ sysinfo['total_poe_consumption'] }}</font></td>
            </tr>
            {% endfor %}
            {% for items in sysinfo.snmp_server_community_element %}
            <tr class="tableTitle">
                <td><font class="font12pxwhite">SNMP Community</font></td>
                <td class="whiteBG" colspan="3"><font face="arial" size="1">{{ items['community_name'] }}</font></td>
                <td><font class="font12pxwhite">Access type</font></td>
                <td class="whiteBG" colspan="3"><font face="arial" size="1">{{ items['access_type'][3:] }}</font></td>
                <td><font class="font12pxwhite">Access mode</font></td>
                <td class="whiteBG"><font face="arial" size="1">{% if items['restricted']==True %} ReadWrite  {% else %} ReadOnly {% endif %}</font></td>
            </tr>
            {% endfor %}
            {% for items in sysinfo.snmpv3_user_element %}
            <tr class="tableTitle">
                <td><font class="font12pxwhite">SNMPv3 User</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ items['user_name'] }}</font></td>
                <td><font class="font12pxwhite">Authentication protocol</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ items['snmpv3_authentication_protocol'][4:] }}</font></td>
                <td><font class="font12pxwhite">Encryption protocol</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ items['snmpv3_authentication_privacy_protocol'][5:] }}</font></td>
                <td><font class="font12pxwhite">SNMPv3 group</font></td>
                <td class="whiteBG" colspan="3"><font face="arial" size="1">{{ items['snmpv3_v3_group'][4:] }}</font></td>
            </tr>
            {% endfor %}
            {% for items in sysinfo.radius_server_element %}
            <tr class="tableTitle">
                <td><font class="font12pxwhite">Radius server</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ items['address']['octets'] }}</font></td>
                <td><font class="font12pxwhite">Authentication port</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ items['authentication_port'] }}</font></td>
                <td><font class="font12pxwhite">Accounting port</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ items['accounting_port'] }}</font></td>
                <td><font class="font12pxwhite">Dynamic Authorization enabled</font></td>
                <td class="whiteBG"><font face="arial" size="1">{% if items['is_dyn_authorization_enabled']==True %} Yes  {% else %} No {% endif %}</font></td>
                <td><font class="font12pxwhite">Time Window</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ items['time_window'] }}</font></td>
            </tr>
            {% endfor %}
            {% if sysinfo['time_server_protocol'] %}
            <tr class="tableTitle">
                <td><font class="font12pxwhite">NTP protocol</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ sysinfo['time_server_protocol'][4:] }}</font></td>
                <td><font class="font12pxwhite">Time server</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ sysinfo['Reference ID'] }}</font></td>
                <td><font class="font12pxwhite">Synchronization status</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ sysinfo['Synchronization Status'] }}</font></td>
                <td><font class="font12pxwhite">NTP up time</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ sysinfo['NTP Up Time'] }}</font></td>
            </tr>
            {% endif %}
            {% for items in sysinfo.vlan_element %}
            <tr class="tableTitle">
                <td><font class="font12pxwhite">VLAN ID</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ items['vlan_id'] }}</font></td>
                <td><font class="font12pxwhite">Name</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ items['name'] }}</font></td>
                <td><font class="font12pxwhite">IP Address</font></td>
                <td class="whiteBG">
                    <font face="arial" size="1">
                        {% for ipitems in sysinfo.ip_address_subnet_element %}
                        {% if ipitems['vlan_id'] == items['vlan_id'] %}
                        {% if ipitems['ip_address'] is defined %}
                        {{ ipitems['ip_address']['octets'] }}/{{ ipitems['ip_mask']['octets'] }}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </font>
                </td>
                <td><font class="font12pxwhite">Untagged ports</font></td>
                <td class="whiteBG">
                    <font face="arial" size="1">
                        {% for vlanitems in sysinfo.vlan_port_element %}
                        {% if ((vlanitems['vlan_id'] == items['vlan_id']) and (vlanitems['port_mode'] == "POM_UNTAGGED")) %}
                        {{ vlanitems['port_id'] }}&nbsp;
                        {% endif %}
                        {% endfor %}
                    </font>
                </td>
                <td><font class="font12pxwhite">Tagged ports</font></td>
                <td class="whiteBG">
                    <font face="arial" size="1">
                        {% for vlanitems in sysinfo.vlan_port_element %}
                        {% if ((vlanitems['vlan_id'] == items['vlan_id']) and (vlanitems['port_mode'] == "POM_TAGGED_STATIC")) %}
                        {{ vlanitems['port_id'] }}&nbsp;
                        {% endif %}
                        {% endfor %}
                    </font>
                </td>
            </tr>
            {% endfor %}

            {% for items in sysinfo.lacp_element |sort(attribute='trunk_group') %}
            <tr class="tableTitle">
                <td><font class="font12pxwhite">Trunk group</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ items['trunk_group'] }}</font></td>
                <td><font class="font12pxwhite">Port</font></td>
                <td class="whiteBG"><font face="arial" size="1">{{ items['port_id'] }}</font></td>
                {% for bladeitems in sysinfo.blades %}
                {% for portitems in bladeitems.data_ports %}
                {% if portitems['port_id']|string == items['port_id'] %}
                <td><font class="font12pxwhite">Port speed</font></td>
                <td class="whiteBG"><font face="arial" size="1">{% if portitems['oper_mode'] %}{{ portitems['oper_mode'][3:] }}{% endif %}</font></td>
                <td><font class="font12pxwhite">Port status</font></td>
                <td class="whiteBG"><font face="arial" size="1">{% if portitems['operStatus'] %}{{ portitems['operStatus'][5:] }}{% endif %}</font></td>
                <td><font class="font12pxwhite">Connector type</font></td>
                <td class="whiteBG"><font face="arial" size="1">{% if portitems['sub_type'] %}{{ portitems['sub_type'] }}{% endif %}</font></td>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </tr>
            {% endfor %}

        </table>
        {% endif %}
        {% endblock %}
