<!-- (C) Copyright 2020 Hewlett Packard Enterprise Development LP. -->

{% block scripts %}
<script src="static/scripts/jquery-1.10.2.min.js"></script>
<link href="static/stylesheet.css" rel="stylesheet" />
<script type="text/javascript" src="static/main.js"></script>
<script type="text/javascript" src="static/trackers.js"></script>
{% endblock %}

{% block content %}
{% set pagename = "SNMP Tracker" %}
{% include 'navbar.html' %}

{% if totalentries|int % entryperpage|int == 0 %}
{% set totalpages=(totalentries|int/entryperpage|int)|int %}
{% else %}
{% set totalpages=(totalentries|int/entryperpage|int)|int +1 %}
{% endif %}

<div id="updateTracker" data-type="snmp"></div>

<div id="maincontainer">
    <table class="tablenoborder" id="logTable">
        <form method="post">
            <tr>
                <td align="right">
                    <div id="navPage">
                        <font class="font11pxgrey">
                            Show <select name="entryperpage" id="entryperpage" onchange="navigation();">
                                <option value="10" {% if formresult.entryperpage=="10" %} selected {% endif %}>10</option>
                                <option value="25" {% if formresult.entryperpage=="25" or formresult.entryperpage is not defined %} selected {% endif %}>25</option>
                                <option value="50" {% if formresult.entryperpage=="50" %} selected {% endif %}>50</option>
                                <option value="100" {% if formresult.entryperpage=="100" %} selected {% endif %}>100</option>
                            </select> entries per page (page <select name="pageoffset" id="pageoffset">
                                {% for i in  range(totalpages) %}
                                <option value="{{ i+1 }}" {% if (pageoffset|int) /(entryperpage|int) ==(i) %}selected{% endif %}>{{ i+1 }}</option>
                                {% endfor %}
                            </select> of <span id="totalpagesph">{{ totalpages }}</span> pages)
                        </font>
                    </div>
                </td>
            </tr>
            </table>
            <table class="tablenoborder" id="logTable">
                    <input id='action' name='action' type='hidden' />
                    <input id='currentpageoffset' name='currentpageoffset' type='hidden' value="{{pageoffset}}" />
                    <input id="totalpages" name="totalpages" type="hidden" value="{{ totalpages }}" />
                    <tr>
                        <td><font class="font13pxgrey">Timestamp</font></td>
                        <td><font class="font13pxgrey">Source</font></td>
                        <td nowrap><font class="font13pxgrey">SNMP Version</font></td>
                        <td><font class="font13pxgrey">Community</font></td>
                        <td><font class="font13pxgrey">Information</font></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background-color: grey;">
                        <td align="left" nowrap>&nbsp;</td>
                        <td align="left" valign="top"><input type="text" name="searchSource" id="searchSource" value="{{ formresult.searchSource }}" size="15"></td>
                        <td align="left" valign="top">
                            <select name="searchVersion" id="searchVersion" onchange="this.form.submit()">
                                <option value="">Select</option>
                                {% for snmpversion in versionInfo %}
                                <option value="{{ snmpversion['version'] }}" {% if formresult.searchVersion==snmpversion['version'] %} selected {% endif %}>{{ snmpversion['version'] }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td align="left" valign="top">
                            <select name="searchCommunity" id="searchCommunity" onchange="this.form.submit()">
                                <option value="">Select</option>
                                {% for community in communityInfo %}
                                <option value="{{ community['community'] }}" {% if formresult.searchCommunity==community['community'] %} selected {% endif %}>{{ community['community'] }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td align="left" valign="top"><input type="text" name="searchInfo" id="searchInfo" value="{{ formresult.searchInfo }}" size="50"></td>
                        <td width="1%"><button type="button" name="action" value="Select all" class="transparent-button selectAll" onclick="selectAll('snmptracker');"><img src="static/images/select.svg" width="12" height="12" class="showtitleTooltip" data-title="Select all"></button></td>
                        <td width="1%"><button type="button" name="action" value="Delete all" class="transparent-button" onclick="if (confirm('Are you sure that you want to delete the selection?')) deleteSelection('snmptracker');"><img src="static/images/trash.svg" width="12" height="12" class="showtitleTooltip" data-title="Delete selection"></button></td>
                    </tr>
                </form>
                <tbody id="logList"></tbody>
            </table>
</div>
<div id="showdaTooltip" type="display:none;"></div>
    {% endblock %}
