<!-- (C) Copyright 2019 Hewlett Packard Enterprise Development LP. -->
{% block scripts %}
<script src="static/scripts/jquery-1.10.2.min.js"></script>
<link href="static/stylesheet.css" rel="stylesheet" />
<script type="text/javascript" src="static/main.js"></script>
<script type="text/javascript" src="static/sysconf.js"></script>




{% endblock %}

{% block content %}
{% set pagename = "System configuration" %}
{% include 'navbar.html' %}

{% if va("sysadminaccess","feature")==False %}
{% set disabled=" disabled "%}
{% else %}
{% set disabled="  " %}
{% endif %}

<!--
netInfo is dictionary containing a list of variables:
2: IPv4 address
10 or 23: IPv6 address
17 or -1: MAC address
-->


<div id="maincontainer">
    <br />
    <table class="tablewithborder">
        <form method="post" id="sysadminform">
            <input type="hidden" name="orig_secret_key" value="{{ sysvars['secret_key'] }}" />
            <input type="hidden" name="orig_ztppassword" value="{{ sysvars['ztppassword'] }}" />
            <input type="hidden" name="tzcity" value="{{ sysvars['timezonecity'] }}" id="tzcity" />
            <tr class="tableTitle"><td colspan="6"><font class="font13pxwhite"><center>System configuration</center></font></td></tr>
            <tr class="tableTitle">
                <td><font class="font12pxwhite">Idle timeout (300-3600 seconds)</font></td>
                <td class="whiteBG"><input type="number" name="idle_timeout" min="300" max="3600" value="{{sysvars['idle_timeout']}}" {{ disabled }} /><font class="font11px"> seconds</font></td>
                <td><font class="font12pxwhite">Landing page</font></td>
                <td class="whiteBG">
                    <select name='landingpage' id='landingpage' {{ disabled }}>
                        <option value="/">Select</option>
                        <option value='switches' {% if sysvars['landingpage']=='switches' %} selected {% endif %}>Switches</option>
                        <option value='clearpass' {% if sysvars['landingpage']=='clearpass' %} selected {% endif %}>ClearPass</option>
                        <option value='mobility' {% if sysvars['landingpage']=='mobility' %} selected {% endif %}>Mobility</option>
                        <option value='deviceimages' {% if sysvars['landingpage']=='deviceimages' %} selected {% endif %}>Device images</option>
                        <option value='upgradescheduler' {% if sysvars['landingpage']=='upgradescheduler' %} selected {% endif %}>Device upgrade monitoring</option>
                        <option value='upgradeprofiles' {% if sysvars['landingpage']=='upgradeprofiles' %} selected {% endif %}>Device upgrade profiles</option>
                        <option value='topology' {% if sysvars['landingpage']=='topology' %} selected {% endif %}>Topology</option>
                        <option value='telemetry' {% if sysvars['landingpage']=='telemetry' %} selected {% endif %}>Telemetry</option>
                        <option value='ztpdevice' {% if sysvars['landingpage']=='ztpdevice' %} selected {% endif %}>ZTP devices</option>
                        <option value='ztptemplate' {% if sysvars['landingpage']=='ztptemplate' %} selected {% endif %}>ZTP templates</option>
                    </select>
                </td>
                <td><font class="font12pxwhite">Secret Hashing Key (exactly 16 characters)</font></td>
                <td class="whiteBG">
                    <input type="password" maxlength="16" name="secret_key" value="{{ sysvars['secret_key'] }}" id="secret_key" {{ disabled }} />
                </td>
            </tr>
            <tr class="tableTitle">
                <td><font class="font12pxwhite">Purge DHCP Tracker information after</font></td>
                <td class="whiteBG"><input type="number" name="retain_dhcp" value="{{sysvars['retain_dhcp']}}" min="1" max="15" {{disabled }} /><font class="font11px"> days</font></td>
                <td><font class="font12pxwhite">Purge SNMP Tracker information after</font></td>
                <td class="whiteBG"><input type="number" name="retain_snmp" value="{{sysvars['retain_snmp']}}" min="1" max="15" {{disabled }} /><font class="font11px"> days</font></td>
                <td><font class="font12pxwhite">Purge Syslog information after</font></td>
                <td class="whiteBG"><input type="number" name="retain_syslog" value="{{sysvars['retain_syslog']}}" min="1" max="15" {{disabled }} /><font class="font11px"> days</font></td>
            </tr>
            <tr class="tableTitle">
                <td><font class="font12pxwhite">Purge ZTP log information after</font></td>
                <td class="whiteBG"><input type="number" name="retain_ztplog" value="{{sysvars['retain_ztplog']}}" min="1" max="15" {{disabled }} /><font class="font11px"> days</font></td>
                <td><font class="font12pxwhite">Purge Listener log information after</font></td>
                <td class="whiteBG"><input type="number" name="retain_listenerlog" value="{{sysvars['retain_listenerlog']}}" min="1" max="15" {{disabled }} /><font class="font11px"> days</font></td>
                <td><font class="font12pxwhite">Purge Topology log information after</font></td>
                <td class="whiteBG"><input type="number" name="retain_topologylog" value="{{sysvars['retain_topologylog']}}" min="1" max="15" {{disabled }} /><font class="font11px"> days</font></td>
            </tr>
            <tr class="tableTitle">
                <td><font class="font12pxwhite">Purge Cleanup log information after</font></td>
                <td class="whiteBG"><input type="number" name="retain_cleanuplog" value="{{sysvars['retain_cleanuplog']}}" min="1" max="15" {{disabled }} /><font class="font11px"> days</font></td>
                <td><font class="font12pxwhite">Purge Telemetry log information after</font></td>
                <td class="whiteBG"><input type="number" name="retain_telemetrylog" value="{{sysvars['retain_telemetrylog']}}" min="1" max="15" {{disabled }} /><font class="font11px"> days</font></td>
                <td colspan="2">&nbsp;</td>

            </tr>
            <tr class="tableTitle">
                <td><font class='font12pxwhite'>ZTP user password</font></td>
                <td class="whiteBG"><input type='password' name='ztppassword' id="ztppassword" value='{{ sysvars['ztppassword'] }}' {{disabled }} /></td>
                <td><font class='font12pxwhite'>Telemetry source IP address</font></td>
                <td class="whiteBG"><input type='text' name='telemetrysource' id="telemetrysource" value='{{ sysvars['telemetrysource'] }}' {{disabled }} /></td>
                <td colspan="2"></td>

            </tr>
            <tr id="ldapconf" class="tableTitle">
                <td><font class='font12pxwhite'>Authentication source</font></td>
                <td class="whiteBG">
                    <select name="authsource" id="authsource">
                        <option value="local" {% if sysvars['authsource']=="local" %} selected {% endif %}>Local</option>
                        <option value="ldap" {% if sysvars['authsource']=="ldap" %} selected {% endif %}>LDAP</option>
                    </select>
                </td>
                <td colspan="2"><font class="font12pxwhite">Local fallback</font><input type="checkbox" name="localfallback" id="localfallback" value="1" {% if sysvars['localfallback']=="1" %} checked {% endif %} {{disabled }} /></td>
                <td><font class='font12pxwhite'>ArubaOS-CX API version</font></td>
                <td class="whiteBG">
                    <select name="cxapi" id="cxapi">
                        <option value="v10.04" {% if sysvars['cxapi']=="v10.04" %} selected {% endif %}>Version 10.04</option>
                        <option value="v10.08" {% if sysvars['cxapi']=="v10.08" %} selected {% endif %}>Version 10.08</option>
                        <option value="v10.09" {% if sysvars['cxapi']=="v10.09" %} selected {% endif %}>Version 10.09</option>
                    </select>
                </td>
            </tr>  
            <tr class="tableTitle">
                <td><font class="font12pxwhite">NTP server</font></td>
                <td class="whiteBG">
                    <input type='text' name='ntpserver' id="ntpserver" value='{{ sysvars['ntpserver'] }}' />
                </td>
                <td><font class="font12pxwhite">Timezone region</font></td>
                <td class="whiteBG">
                    <select name="timezoneregion" id="timezoneregion" onchange="changetimezoneRegion();">
                        <option value="">Select region</option>
                        {% for items in timezoneregion %}
                        <option value="{{ items }}" {% if items==sysvars['timezoneregion'] %} selected {% endif %}>{{ items }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><font class="font12pxwhite">Timezone city</font></td>
                <td class="whiteBG">
                        <select name="timezonecity" id="timezonecity">
                            <option id="selecttzcity" value="">Select city</option>
                        </select>
                </td>
            </tr>          
            <tr>
                <td colspan="6" align="center" class="whiteBG">
                    <button name="action" value="Submit changes" class="button" id="submitChanges" {{disabled }}>Submit changes</button>
                </td>
            </tr>
        </form>
    </table>

    <table class="tablewithborder">
        <tr class="tableTitle"><td colspan="4"><font class="font13pxwhite"><center>System information</center></font></td></tr>
        <tr class="tableTitle">
            <td><font class="font12pxwhite">CommPass Software version</font></td>
            <td class="whiteBG"><font class="font11px">{{sysvars.softwareRelease}}</font></td>
            <td><font class="font12pxwhite">System time</font></td>
            <td class="whiteBG">
                <font class="font11px">
                    <div id="systemTime"></div>
                </font>
            </td>
        </tr>
        <tr class="tableTitle">
            <td><font class="font12pxwhite">System platform</font></td>
            <td class="whiteBG"><font class="font11px">{{sysvars.sysInfo.platform}}</font></td>
            <td><font class="font12pxwhite">Hostname</font></td>
            <td class="whiteBG"><font class="font11px">{{sysvars.sysInfo.hostname}}</font></td>
        </tr>
    </table>

    <table class="tablewithborder">
        <tr style="background-color:grey;"><td colspan="8"><font class="font13pxwhite"><center>Network interfaces</center></font></td></tr>

        {% for netItems in sysvars.netInfo %}

        <tr class="tableTitle">
            <td><font class="font12pxwhite">Interface name</font></td>
            <td class="whiteBG"><font class="font11px">{{netItems}}</font></td>
            <td><font class="font12pxwhite">MAC address</font></td>
            <td class="whiteBG">
                <font class="font11px">

                    {% for item in sysvars.netInfo[netItems]  if item[0]==17 or item[0] ==-1 %}
                    {{ item[1] }}
                    {% endfor %}

                </font>
            </td>
            <td><font class="font12pxwhite">IPv4 address / mask</font></td>
            <td class="whiteBG">
                <font class="font11px">
                    {% for item in sysvars.netInfo[netItems]  if item[0]==2 %}
                    {{ item[1] }} / {{item[2]}}<br>
                    {% endfor %}
                </font>
            </td>
            <td><font class="font12pxwhite">IPv6 address / mask</font></td>
            <td class="whiteBG">
                <font class="font11px">
                    {% for item in sysvars.netInfo[netItems]  if item[0]==10  or item[0]==23 %}
                    {% set splitItem = item[1].split('%') %}
                    {{ splitItem[0] }} / {{item[2]}}<br>
                    {% endfor %}
                </font>
            </td>
        </tr>

        {% endfor %}

    </table>
</div>
    {% endblock %}
