<!-- (C) Copyright 2019 Hewlett Packard Enterprise Development LP. -->
{% block scripts %}
<script src="static/scripts/jquery-1.10.2.min.js"></script>
<link href="static/stylesheet.css" rel="stylesheet" />
<script type="text/javascript" src="static/main.js"></script>
<script type="text/javascript" src="static/sysconf.js"></script>
{% endblock %}

{% block content %}
{% set pagename = "System Monitoring" %}
{% include 'navbar.html' %}

<div id="maincontainer">
    <table class="tablenoborder">
        <tr>
            <td width="10%" align="left" nowrap><font class="font13pxgrey">Process</font></td>
            <td width="10%" align="left" nowrap><font class="font13pxgrey">Status</font></td>
            <td width="10%" align="left" nowrap><font class="font13pxgrey">CPU Utilization</font></td>
            <td width="10%" align="left" nowrap><font class="font13pxgrey">Memory Utilization</font></td>
            <td width="10%" align="center" nowrap><font class="font13pxgrey">Action</font></td>
            <td></td>
        </tr>
    </table>

    <div data-chart="cleanupProcess" class="cleanupProcess" id="cleanupScheduler" value="Cleanup"></div>
    <div data-chart="topologyProcess" class="topologyProcess" id="topologyScheduler" value="Topology"></div>
    <div data-chart="ztpProcess" class="ztpProcess" id="ztpScheduler" value="ZTP"></div>
    <div data-chart="listenerProcess" class="listenerProcess" id="listenerScheduler" value="Listener"></div>
    <div data-chart="telemetryProcess" class="telemetryProcess" id="telemetryScheduler" value="Telemetry"></div>
    <div data-chart="deviceupgradeProcess" class="deviceupgradeProcess" id="deviceupgradeScheduler" value="Device upgrades"></div>
    <div data-chart="datacollectorProcess" class="datacollectorProcess" id="datacollectorScheduler" value="Data collector"></div>
    <div id="systemTime" style="display:none;"></div>
    <div id="showdaTooltip" type="display:none;"></div>
</div>
    {% endblock %}
