<!-- (C) Copyright 2019 Hewlett Packard Enterprise Development LP. -->
{% block scripts %}
<script src="static/scripts/jquery-1.10.2.min.js"></script>
<link href="static/stylesheet.css" rel="stylesheet" />
<script type="text/javascript" src="static/main.js"></script>
<script type="text/javascript" src="static/telemetry.js"></script>

<script type="text/javascript">
    var url = "static/main.js";
    $.getScript(url);
</script>
{% endblock %}

{% block content %}
{% set pagename = "Telemetry" %}
{% include 'navbar.html' %}


{% if totalentries|int % entryperpage|int == 0 %}
{% set totalpages=(totalentries|int/entryperpage|int)|int %}
{% else %}
{% set totalpages=(totalentries|int/entryperpage|int)|int +1 %}
{% endif %}

<div id="maincontainer">
    <div id="wsClient" data-hostip="{% if sysvars['telemetrysource']=="" %}{{ hostip }}{% else %}{{ sysvars['telemetrysource'] }}{% endif %}"></div>
    <table class="tablenoborder">
        <form method="post">
            <tr>
                <td align="right" nowrap>
                    <font class="font11pxgrey">
                        Show <select name="entryperpage" id="deviceEntryperpage" onchange="this.form.submit()">
                            <option value="5" {% if entryperpage==5 %} selected {% endif %}>5</option>
                            <option value="10" {% if entryperpage==10 %} selected {% endif %}>10</option>
                            <option value="25" {% if entryperpage==25 %} selected {% endif %}>25</option>
                            <option value="50" {% if entryperpage==50 %} selected {% endif %}>50</option>
                            <option value="100" {% if entryperpage==100 %} selected {% endif %}>100</option>
                        </select> entries per page (page <select name="pageoffset" id="devicePageoffset" onchange="this.form.submit();">
                            {% for i in  range(totalpages) %}
                            <option value="{{ (i)*entryperpage|int }}" {% if (pageoffset|int) /(entryperpage|int) ==(i) %}selected{% endif %}>{{ i+1 }}</option>
                            {% endfor %}
                        </select> of {{ totalpages }} pages)
                    </font>
                </td>
            </tr>
    </table>
    <table class="tablenoborder">
        <input id='orderBy' name='orderBy' type='hidden' value="{{ orderBy }}" />
        <input id='descascDescription' name='descascDescription' type='hidden' value="{{ descascDescription }}" />
        <input id='descascIpaddress' name='descascIpaddress' type='hidden' value="{{ descascIpaddress }}" />
        <input id='currentpageoffset' name='currentpageoffset' type='hidden' value="{{pageoffset}}" />
        <input id='currenttotalentries' name='currenttotalentries' type='hidden' value="{{totalentries}}" />
        <input id="totalpages" name="totalpages" type="hidden" value="{{ totalpages }}" />
        <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
        <input name="action" type="hidden" value="navigation" />
        <tr>
            <td width="2%"><font class="font13pxgrey">Item</font></td>
            <td width="5%" nowrap><font class="font13pxgrey">Client status</font></td>
            <td nowrap><font class="font13pxgrey">IP address</font></td>
            <td><font class="font13pxgrey">Description</font></td>
            <td nowrap><font class="font13pxgrey">Software version</font></td>
            <td nowrap><font class="font13pxgrey">Subscriber ID</font></td>
            <td nowrap><font class="font13pxgrey">Subscription count</font></td>
            <td nowrap><font class="font13pxgrey">Activated subscriptions</font></td>
            <td nowrap><font class="font13pxgrey">Active subscriptions</font></td>
            <td nowrap><font class="font13pxgrey">Received notifications</font></td>
            <td></td>
        </tr>
        <tr style="background-color: grey;" class="tableTitle">
            <td colspan="2">&nbsp;</td>
            <td align="left" valign="top">
                <input type="text" name="searchIPaddress" id="searchIPaddress" size="15" value="{{ formresult['searchIPaddress'] }}">
            </td>
            <td align="left" valign="top">
                <input type="text" name="searchDescription" id="searchDescription" size="15" value="{{ formresult['searchDescription'] }}">
            </td>
            <td align="left" valign="top">
                <input type="text" name="searchVersion" value="{{ formresult.searchVersion }}" size="15">
            </td>
            <td colspan="5"></td>
            <td align="right">
                <button type="submit" name="searchAction" value="Search" class="transparent-button" id="searchDevice" onclick="clearRow(this);"><img src="static/images/search.svg" width="12" height="12" class="showtitleTooltip" data-title="Search"></button>
            </td>
        </tr>
        </form>
        {% for info in result %}
        <form method="post">
            <input name='currentpageoffset' type='hidden' value="{{pageoffset}}" />
            <input name='currenttotalentries' type='hidden' value="{{totalentries}}" />
            <input name='totalpages' type="hidden" value="{{ totalpages }}" />
            <input name='entryperpage' type='hidden' value="{{ entryperpage }}" />
            <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
            <input type="hidden" name="searchIPaddress" value="{{ formresult.searchIPaddress }}">
            <input type="hidden" name="searchDescription" value="{{ formresult.searchDescription }}">
            <input type="hidden" name="searchVersion" value="{{ formresult.searchVersion }}">
            <input type="hidden" name="deviceid" value="{{ info['id'] }}">
            <tr>
                <td><font class="font12px">{{ loop.index }}</font></td>
                <td align="center">
                    <font class="font12px">
                        <div class="telemetryOnline" id="telemetryOnline{{info['id']}}" data-deviceid="{{info['id']}}"><img src="static/images/status-unknown.svg" height="12" width="12"  class="showtitleTooltip" data-title="Telemetry status unknown"></div>
                    </font>
                </td>
                <td><font class="font12px">{{ info['ipaddress'] }}</font></td>
                <td><font class="font12px">{{ info['description'] }}</font></td>
                <td nowrap><font class="font12px">{{ info['osversion'] }}</font>&nbsp;&nbsp;</td>
                <td><font class="font12px"><div id="subscriber{{ info['id'] }}">{{ info['subscriber'] }}</div></font></td>
                {% set subscriptions = converttoJSON(info['subscriptions']) %}
                <td><font class="font12px"><div id="subscriptions{{ info['id'] }}">{{ subscriptions[0] |count }}</div></font></td>
                <td><font class="font12px"><div id="activatedsubscriptions{{ info['id'] }}"></div></font></td>
                <td><font class="font12px"><div id="activesubscriptions{{ info['id'] }}"></div></font></td>
                <td>
                    <font class="font12px">
                        <div class="socketRow">
                            <div class="showWS" id="showWS{{info['ipaddress']}}" data-username="{{ info['ipaddress'] }}" data-id="{{info['id']}}" data-messagecount="0">0</div>
                        </div>
                    </font>
                </td>
                <td align="right">
                    <button type="button" name="monitor" value="Monitor" data-username="{{ info['ipaddress'] }}" data-deviceid="{{info['id']}}" id="monitor{{info['id']}}" class="transparent-button monitorSubscription" onclick="highlightRow(this);"><img src="static/images/monitor.svg" width="12" height="12" class="showtitleTooltip" data-title="Monitor telemetry"></button><button type="button" name="managesubscription" value="Manage subscriptions" data-deviceid="{{info['id']}}" class="transparent-button manageSubscription" onclick="highlightRow(this);" {% if va("telemetrysubscriptionaccess","feature")==False %} style="opacity:0.2;pointer-events:none;" {% endif %}><img src="static/images/subscriptions.svg" width="12" height="12" class="showtitleTooltip" data-title="Manage subscriptions"></button>
                </td>
            </tr>
            <span class="startWS" id="startws{{ info['id'] }}"></span>
        </form>
        {% endfor %}
    </table>



    <div id="monitorsubscription" style="display:none;" data-deviceid="">
        <textarea class="showNotifications" id="showNotifications" rows="30" onclick="clearTextArea(this);" readonly></textarea>
    </div>


    <div id="managesubscription" style="display:none;">
        Manage Subscriptions....
    </div>


</div>
<div id="showdaTooltip" type="display:none;"></div>
{% endblock %}
