<!-- (C) Copyright 2021 Hewlett Packard Enterprise Development LP. -->
{% block scripts %}
<script src="static/scripts/jquery-1.10.2.min.js"></script>
<link href="static/stylesheet.css" rel="stylesheet" />
<link rel="stylesheet" href="static/datetimepicker/dtsel.css" />
<script type="text/javascript" src="static/main.js"></script>
<script type="text/javascript" src="static/upgradeprofiles.js"></script>
<script src="static/datetimepicker/dtsel.js"></script>
<script type="text/javascript">
    var url = "static/main.js";
    $.getScript(url);
</script>

{% endblock %}

{% block content %}
{% set pagename = "Upgrade profiles" %}
{% include 'navbar.html' %}

{% if totalentries|int % entryperpage|int == 0 %}
{% set totalpages=(totalentries|int/entryperpage|int)|int %}
{% else %}
{% set totalpages=(totalentries|int/entryperpage|int)|int +1 %}
{% endif %}


{% macro sentence_case(text) %}
{{ text[0]|upper}}{{text[1:] }}
{% endmacro %}

<div class="transparentOverlay" id="transparentOverlay"></div>

<div id="maincontainer">
    <form method="post" name="profiles" id="profiles">
        <table class="tablenoborder" id="profileTable">
            <tr>
                <td width="20%" align="right">
                    <font class="font11pxgrey">
                        Show <select name="entryperpage" onchange="this.form.submit()">
                            <option value="5" {% if entryperpage|int==5 or entryperpage is not defined %} selected {% endif %}>5</option>
                            <option value="10" {% if entryperpage|int==10 %} selected {% endif %}>10</option>
                            <option value="25" {% if entryperpage|int==25 %} selected {% endif %}>25</option>
                            <option value="50" {% if entryperpage|int==50 %} selected {% endif %}>50</option>
                            <option value="100" {% if entryperpage|int==100 %} selected {% endif %}>100</option>
                        </select> entries per page (page <select name="pageoffset" onchange="this.form.submit()">
                            {% for i in  range(totalpages) %}
                            <option value="{{ (i)*entryperpage|int }}" {% if (pageoffset|int) /(entryperpage|int) ==(i) %}selected{% endif %}>{{ i+1 }}</option>
                            {% endfor %}
                        </select> of {{ totalpages }} pages)
                    </font>
                </td>
            </tr>
        </table>
        <table class="tablenoborder" id="profileTable">
            <input name="action" type="hidden" value="navigation" />
            <input name='currentpageoffset' type='hidden' value="{{pageoffset}}" />
            <input name='currenttotalentries' type='hidden' value="{{totalentries}}" />
            <input name='totalpages' type="hidden" value="{{ totalpages }}" />
            <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
            <tr>
                <td width="2%" align="left" nowrap><font class="font13pxgrey">ID</font></td>
                <td width="10%" align="left" nowrap><font class="font13pxgrey">Name</font></td>
                <td width="10%" align="left" nowrap><font class="font13pxgrey">Upgrade partition</font></td>
                <td width="10%" align="left" nowrap><font class="font13pxgrey">Active partition</font></td>
                <td width="10%" align="left" nowrap><font class="font13pxgrey">Reboot</font></td>
                <td width="8%" align="left"><font class="font13pxgrey">Scheduled</font></td>
                <td width="20%" align="center"><font class="font13pxgrey">Device list</font></td>
                <td width="30%" align="left"><font class="font13pxgrey">Status</font></td>
                <td width="20%" align="right"></td>
            </tr>

            <tr style="background-color: grey;" class="tableTitle">
                <td align="left" nowrap>&nbsp;</td>
                <td align="left" valign="top"><input type="text" name="searchName" value="{{ formresult.searchName }}" size="15"></td>
                <td align="left" valign="top"></td>
                <td align="left" valign="top"></td>
                <td align="left" valign="top"></td>
                <td align="left" valign="top"></td>
                <td align="left" valign="top"></td>
                <td align="left" valign="top"></td>
                <td align="right" nowrap>
                    <button type="button" name="addProfile" value="Create profile" class="addProfile transparent-button" onclick="clearRow(this);"><img src="static/images/add.svg" width="12" height="12" class="showtitleTooltip" data-title="Add profile"></button>
                    <button type="submit" name="searchAction" value="Search" class="transparent-button" id="searchRole" onclick="clearRow(this);"><img src="static/images/search.svg" width="12" height="12" class="showtitleTooltip" data-title="Search"></button>
                </td>
            </tr>
    </form>
    {% for info in profileresult %}
    <form method="post">
        <input name='currentpageoffset' type='hidden' value="{{pageoffset}}" />
        <input name='currenttotalentries' type='hidden' value="{{totalentries}}" />
        <input name='totalpages' type="hidden" value="{{ totalpages }}" />
        <input name='entryperpage' type='hidden' value="{{ entryperpage }}" />
        <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
        <input type="hidden" name="searchName" value="{{ formresult.searchName }}">
        <tr>
            <td><font class="font10px">{{ loop.index }}</font></td>
            <td><font class="font10px">{{ info['name'] }}</font></td>
            <td><font class="font10px">{{ sentence_case(info['upgradepartition']) }}</font></td>
            <td><font class="font10px">{{ sentence_case(info['activepartition']) }}</font></td>
            <td><font class="font10px">{% if info['reboot']==1 %}Yes{% else %}No{% endif %}</font></td>
            <td><font class="font10px">{% if info['schedule'] %}{{ info['schedule'] }}{% endif %}</font></td>
            <td align="center"><img src="static/images/device.svg" width="12" height="12" class="showupgradeprofileDevices" data-profileid="{{ info['id'] }}"></td>
            <td><div class="profilestatusOverview" id="upgradeprofilestatus{{ info['id'] }}" data-profileid="{{ info['id'] }}"><font class="font10px">Checking...</font></div></td>
            <td align="right" nowrap>
                <div class="actionButtons" id="actionButtons{{ info['id'] }}" data-profileid="{{ info['id'] }}"></div>
            </td>
        </tr>
    </form>
    {% endfor %}
    </table>

    <div id="showProfile" style="display:none;" data-id="">
        Show profile
    </div>

    <form method="post" name="manageProfile" id="manageProfile" data-info="manageprofile">
        <input name='currentpageoffset' type='hidden' value="{{pageoffset}}" />
        <input name='currenttotalentries' type='hidden' value="{{totalentries}}" />
        <input name='totalpages' type="hidden" value="{{ totalpages }}" />
        <input name='entryperpage' type='hidden' value="{{ entryperpage }}" />
        <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
        <input type="hidden" name="searchName" value="{{ formresult.searchName }}">
        <input type="hidden" id="editprofileid" name="profileid" value="{{ formresult.id }}">
        <div id="addProfile" style="display:none;" data-id="">
            <table class='tablenoborder'>
                <tr><td colspan='9' style='background-color: grey;' align='center'><font class='font13pxwhite'>Add upgrade profile</font></td></tr>
                <tr>
                    <td width='5%' nowrap><font class='font12pxgrey'>Upgrade profile name</font></td>
                    <td width='15%'><div class='requiredField'><input type='text' name='addprofilename' required id="addprofilename"></div></td>
                    <td width='5%' nowrap><font class='font12pxgrey'>Upgrade partition</font></td>
                    <td width='15%'>
                        <select name="addupgradepartition">
                            <option value="primary">Primary</option>
                            <option value="secondary">Secondary</option>
                        </select>
                    </td>
                    <td width='5%' nowrap><font class='font12pxgrey'>Set active partition</font></td>
                    <td width='15%'>
                        <select name="addactivepartition">
                            <option value="primary">Primary</option>
                            <option value="secondary">Secondary</option>
                        </select>
                    </td>
                    <td width='5%' nowrap><font class='font12pxgrey'>Schedule upgrade</font></td>
                    <td width='20%'>
                        <input type="text" name="addscheduletime" class="form-control" id="addscheduletime" size="30" readonly="readonly" />&nbsp;<img src="static/images/clear.svg" width="12" height="12" onclick="addclearTime();" class="showtitleTooltip" data-title="Clear schedule">
                    </td>
                    <td width="15%" nowrap><font class="font12pxgrey">Reboot after upgrade <input type="checkbox" name="addrebootafterupgrade" id="addrebootafterUpgrade" /></font></td>
                </tr>
            </table>
            <script>
                instance1 = new dtsel.DTS('input[id="addscheduletime"]', {
                    direction: 'BOTTOM',
                    dateFormat: "yyyy-mm-dd",
                    showTime: true,
                    timeFormat: "HH:MM:SS"
                });
                function addclearTime() {
                    document.getElementById('addscheduletime').value = "";
                }
            </script>
        </div>

        <div id="editProfile" style="display:none;" data-id="">
            <table class='tablenoborder'>
                <tr><td colspan='9' style='background-color: grey;' align='center'><font class='font13pxwhite'>Edit upgrade profile</font></td></tr>
                <tr>
                    <td width='5%' nowrap><font class='font12pxgrey'>Upgrade profile name</font></td>
                    <td width='15%'><div class='requiredField'><input type='text' name='editprofilename' required id="editprofilename"></div></td>
                    <td width='5%' nowrap><font class='font12pxgrey'>Upgrade partition</font></td>
                    <td width='15%'>
                        <select name="editupgradepartition" id="editupgradepartition">
                            <option value="primary">Primary</option>
                            <option value="secondary">Secondary</option>
                        </select>
                    </td>
                    <td width='5%' nowrap><font class='font12pxgrey'>Set active partition</font></td>
                    <td width='15%'>
                        <select name="editactivepartition" id="editactivepartition">
                            <option value="primary">Primary</option>
                            <option value="secondary">Secondary</option>
                        </select>
                    </td>
                    <td width='5%' nowrap><font class='font12pxgrey'>Schedule upgrade</font></td>
                    <td width='20%'>
                        <input type="text" name="editscheduletime" class="form-control" size="30" id="editscheduletime" readonly="readonly" />&nbsp; <img src="static/images/clear.svg" width="12" height="12" onclick="editclearTime();" class="showtitleTooltip" data-title="Clear schedule">
                    </td>
                    <td width="15%" nowrap><font class="font12pxgrey">Reboot after upgrade <input type="checkbox" name="editrebootafterupgrade" id="editrebootafterUpgrade" /></font></td>
                </tr>
            </table>
            <script>
                instance1 = new dtsel.DTS('input[id="editscheduletime"]', {
                    direction: 'BOTTOM',
                    dateFormat: "yyyy-mm-dd",
                    showTime: true,
                    timeFormat: "HH:MM:SS"
                });
                function editclearTime() {
                    document.getElementById('editscheduletime').value = "";
                }
            </script>
        </div>
        <div id="selectdevicesDiv" data-id=""></div>
        <div id="availabledevicesDiv" data-info="[]"></div>
        <div id="assigneddevicesDiv" data-info="[]"></div>
        <div id="assignsoftwareDiv" data-id=""></div>
        <div id="showprofileInfo" style="display:none;">Show upgrade profile information</div>
        <div id="phprofileInfo" data-profileid="" data-addoredit="none" data-assignedDevices=""></div>
    </form>
    <div id="showdaTooltip"></div>
</div>
{% endblock %}
