<!-- (C) Copyright 2019 Hewlett Packard Enterprise Development LP. -->
{% block scripts %}
<script src="static/scripts/jquery-1.10.2.min.js"></script>
<link href="static/stylesheet.css" rel="stylesheet" />
<script type="text/javascript" src="static/main.js"></script>
<script type="text/javascript" src="static/useradmin.js"></script>
{% endblock %}

{% block content %}
{% set pagename = "User administration" %}
{% include 'navbar.html' %}

{% if totalentries|int % entryperpage|int == 0 %}
{% set totalpages=(totalentries|int/entryperpage|int)|int %}
{% else %}
{% set totalpages=(totalentries|int/entryperpage|int)|int +1 %}
{% endif %}

<div id="maincontainer">
    {% if formresult['selectauthsource']=="ldap" %}
    <table class="tablenoborder" id="localldapuserTable">
        <form method="post" name="localldapusertemplate" id="localldapusertemplate">
            <input name="action" type="hidden" value="navigation" />
            <input name='currentpageoffset' type='hidden' value="{{pageoffset}}" />
            <input name='currenttotalentries' type='hidden' value="{{totalentries}}" />
            <input name='totalpages' type="hidden" value="{{ totalpages }}" />
            <input name='currententryperpage' id="currententryperpage" type='hidden' value="{{ entryperpage }}" />
            <tr>
                <td width="2%" align="left" nowrap><font class="font13pxgrey">ID</font></td>
                <td width="25%" align="left" nowrap><font class="font13pxgrey">Common name</font></td>
                <td width="25%" align="left" nowrap><font class="font13pxgrey">Distinguished name</font></td>
                <td width="25%" align="left" nowrap><font class="font13pxgrey">Principal name</font></td>
                <td width="20%" align="right">
                    <font class="font13pxgrey">
                        Show <select name="entryperpage" id="entryperpage" onchange="this.form.submit()">
                            <option value="5" {% if entryperpage|int==5 or entryperpage is not defined %} selected {% endif %}>5</option>
                            <option value="10" {% if entryperpage|int==10 %} selected {% endif %}>10</option>
                            <option value="25" {% if entryperpage|int==25 %} selected {% endif %}>25</option>
                            <option value="50" {% if entryperpage|int==50 %} selected {% endif %}>50</option>
                            <option value="100" {% if entryperpage|int==100 %} selected {% endif %}>100</option>
                        </select> entries per page (page <select name="pageoffset" onchange="this.form.submit()">
                            {% for i in  range(totalpages) %}
                            <option value="{{ (i)*entryperpage|int }}" {% if (pageoffset|int) /(entryperpage|int) ==(i) %}selected{% endif %}>{{ i+1 }}</option>
                            {% endfor %}
                        </select> of {{ totalpages }} pages)
                    </font>
                </td>
            </tr>
            <tr style="background-color: grey;" class="tableTitle">
                <td align="left" nowrap>&nbsp;</td>
                <td align="left" valign="top"><input type="text" id="searchName" name="searchName" value="{{ formresult.searchName }}" size="15"></td>
                <td align="left" valign="top"><input type="text" id="searchEmail" name="searchEmail" value="{{ formresult.searchEmail }}" size="15"></td>
                <td align="left" valign="top"><input type="text" id="searchRole" name="searchRole" value="{{ formresult.searchRole }}" size="15"></td>
                <td align="right">
                    {% if sysvars['authsource']=="ldap" %}<font class="font12pxwhite">
                        Authentication source <select name="selectauthsource" onchange="this.form.submit()">
                            <option value="local" {% if formresult['selectauthsource']=="local" %} selected {% endif %}>Local</option>
                            <option value="ldap" {% if formresult['selectauthsource']=="ldap" %} selected {% endif %}>LDAP</option>
                        </select>
                    </font>{% endif %}
                    <input type="submit" name="searchAction" value="Search" class="button" id="searchTemplate" onclick="cleartemplateRow(this);">
                </td>
            </tr>

            {% for info in result %}
            <tr>
                <td width="5%" align="left" nowrap height="25px"><font class="font12px">{{ loop.index }}</font></td>
                <td width="1%" align="left" nowrap><font class="font12px">{{ info['attributes']['cn'] }}</font></td>
                <td width="1%" align="left" nowrap><font class="font12px">{{ info['attributes']['distinguishedName'] }}</font></td>
                <td width="1%" align="left" nowrap><font class="font12px">{{ info['attributes']['userprincipalName'] }}</font></td>
                <td width="20%" align="right">
                </td>
            </tr>
            {% endfor %}
    </table>  
    {% else %}
    <table class="tablenoborder" id="localsysuserTable">
        <form method="post" name="localsysusertemplate" id="localsysusertemplate">
            <input name="action" type="hidden" value="navigation" />
            <input name='currentpageoffset' type='hidden' value="{{pageoffset}}" />
            <input name='currenttotalentries' type='hidden' value="{{totalentries}}" />
            <input name='totalpages' type="hidden" value="{{ totalpages }}" />
            <input name='currententryperpage' id="currententryperpage" type='hidden' value="{{ entryperpage }}" />
            <tr>
                <td width="5%" align="left" nowrap><font class="font13pxgrey">ID</font></td>
                <td width="25%" align="left"><font class="font13pxgrey">User name</font></td>
                <td width="25%" align="left" nowrap><font class="font13pxgrey">e-Mail address</font></td>
                <td width="25%" align="left" nowrap><font class="font13pxgrey">Role</font></td>
                <td width="20%" align="right">
                    <font class="font13pxgrey">
                        Show <select name="entryperpage" id="entryperpage" onchange="this.form.submit()">
                            <option value="5" {% if entryperpage|int==5 or entryperpage is not defined %} selected {% endif %}>5</option>
                            <option value="10" {% if entryperpage|int==10 %} selected {% endif %}>10</option>
                            <option value="25" {% if entryperpage|int==25 %} selected {% endif %}>25</option>
                            <option value="50" {% if entryperpage|int==50 %} selected {% endif %}>50</option>
                            <option value="100" {% if entryperpage|int==100 %} selected {% endif %}>100</option>
                        </select> entries per page (page <select name="pageoffset" onchange="this.form.submit()">
                            {% for i in  range(totalpages) %}
                            <option value="{{ (i)*entryperpage|int }}" {% if (pageoffset|int) /(entryperpage|int) ==(i) %}selected{% endif %}>{{ i+1 }}</option>
                            {% endfor %}
                        </select> of {{ totalpages }} pages)
                    </font>
                </td>
            </tr>
            <tr style="background-color: grey;" class="tableTitle">
                <td align="left" nowrap>&nbsp;</td>
                <td align="left" valign="top"><input type="text" id="searchName" name="searchName" value="{{ formresult.searchName }}" size="15"></td>
                <td align="left" valign="top"><input type="text" id="searchEmail" name="searchEmail" value="{{ formresult.searchEmail }}" size="15"></td>
                <td align="left" valign="top"><input type="text" id="searchRole" name="searchRole" value="{{ formresult.searchRole }}" size="15"></td>
                <td align="right">
                    {% if sysvars['authsource']=="ldap" %}<font class="font12pxwhite">
                        Authentication source <select name="selectauthsource" onchange="this.form.submit()">
                            <option value="local" {% if formresult['selectauthsource']=="local" %} selected {% endif %}>Local</option>
                            <option value="ldap" {% if formresult['selectauthsource']=="ldap" %} selected {% endif %}>LDAP</option>
                        </select>
                    </font>{% endif %}
                    <input type="button" class="button" value="Add user" id="addUser" onclick="clearuserRow(this);" {% if va("sysuseraccess","feature")==False %} style="opacity:0.2;pointer-events:none;" {% endif %}><input type="submit" name="searchAction" value="Search" class="button" id="searchTemplate" onclick="cleartemplateRow(this);">
                </td>
            </tr>
        </form>
        {% for info in result %}
        <form method="post">
            <input name='currentpageoffset' type='hidden' value="{{pageoffset}}" />
            <input name='currenttotalentries' type='hidden' value="{{totalentries}}" />
            <input name='totalpages' type="hidden" value="{{ totalpages }}" />
            <input name='entryperpage' type='hidden' value="{{ entryperpage }}" />
            <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
            <input type="hidden" name="searchName" value="{{ formresult.searchName }}">
            <input type="hidden" name="searchEmail" value="{{ formresult.searchEmail }}">
            <input type="hidden" name="searchRole" value="{{ formresult.searchRole }}">
            <input type="hidden" name="userid" value="{{ info['id'] }}">
            <tr>
                <td><font class="font12px">{{ loop.index }}</font></td>
                <td><font class="font12px">{{ info['username'] }}</font></td>
                <td><font class="font12px">{{ info['email'] }}</font></td>
                <td>
                    <font class="font12px">
                        {% for items in roleresult %}
                        {% if items['id']==info['role'] %} {{ items['name'] }} {% endif %}
                        {% endfor %}
                    </font>
                </td>
                <td align="right">
                    <input type="button" name="editUser" value="Edit" data-userid="{{info['id']}}" class="editUser" onclick="highlightuserRow(this);" {% if va("sysuseraccess","feature")==False %} style="opacity:0.2;pointer-events:none;" {% endif %}><input type="submit" name="action" value="Delete" class="button" onclick="return confirm('Are you sure you want to delete {{ info['name'] }}?')" {% if va("sysuseraccess","feature")==False %} style="opacity:0.2;pointer-events:none;" {% endif %} {% if info['username']=="admin" %} disabled {% endif%}>
                </td>
            </tr>
        </form>
        {% endfor %}
    </table>
    {% endif %}

    <div id="adduser" style="display:none;">
        <table class="tablenoborder">
            <form method="post">
                <input name='currentpageoffset' type='hidden' value="{{pageoffset}}" />
                <input name='currenttotalentries' type='hidden' value="{{totalentries}}" />
                <input name='totalpages' type="hidden" value="{{ totalpages }}" />
                <input name='entryperpage' type='hidden' value="{{ entryperpage }}" />
                <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
                <input type="hidden" name="searchName" value="{{ formresult.searchName }}">
                <input type="hidden" name="searchEmail" value="{{ formresult.searchEmail }}">
                <input type="hidden" name="searchRole" value="{{ formresult.searchRole }}">
                <tr style="background-color: grey;">
                    <td colspan="8"><font class="font13pxwhite"><center>Add user</center></font></td>
                </tr>
                <tr>

                    <td width="1%" align="left" nowrap><font class="font13pxgrey">User name</font></td>
                    <td>
                        <div class="field">
                            <input type="text" name="username" class="input" value="">
                        </div>
                    </td>
                    <td width="1%" align="left" nowrap><font class="font13pxgrey">Password</font></td>
                    <td nowrap>
                        <div class="field">
                            <input type="password" name="password" class="input" value="" size="50">
                        </div>
                    </td>
                    <td width="1%" align="left" nowrap><font class="font13pxgrey">e-Mail address</font></td>
                    <td>
                        <div class="field">
                            <input type="text" name="email" size="100" class="input" value="">
                        </div>
                    </td>
                    <td width="1%" align="left" nowrap><font class="font13pxgrey">Role</font></td>
                    <td>
                        <div class="field">
                            <select name="role">
                                {% for roleitems in roleresult %}
                                <option value="{{ roleitems['id'] }}">{{ roleitems ['name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                <tr>
                    <td colspan="8" align="center">
                        <input type="submit" name="action" id="submituser" value="Submit user" class="button" disabled />
                    </td>
                </tr>
            </form>
        </table>
    </div>


    <div id="edituser" style="display:none;">
        <table class="tablenoborder">
            <form method="post">
                <input name='currentpageoffset' type='hidden' value="{{pageoffset}}" />
                <input name='currenttotalentries' type='hidden' value="{{totalentries}}" />
                <input name='totalpages' type="hidden" value="{{ totalpages }}" />
                <input name='entryperpage' type='hidden' value="{{ entryperpage }}" />
                <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
                <input name='userid' id='edituserid' type='hidden' />
                <input name='orgrole' id='editorgrole' type='hidden' />
                <input type="hidden" name="searchName" value="{{ formresult.searchName }}">
                <input type="hidden" name="searchEmail" value="{{ formresult.searchEmail }}">
                <input type="hidden" name="searchRole" value="{{ formresult.searchRole }}">
                <tr style="background-color: grey;">
                    <td colspan="8"><font class="font13pxwhite"><center>Edit user</center></font></td>
                </tr>
                <tr>

                    <td width="1%" align="left" nowrap><font class="font13pxgrey">User name</font></td>
                    <td>
                        <div class="field">
                            <input type="text" id="editusername" name="username" class="input" value="">
                        </div>
                    </td>
                    <td width="1%" align="left" nowrap><font class="font13pxgrey">Password</font></td>
                    <td nowrap>
                        <div class="field">
                            <input type="password" id="editpassword" name="password" class="input" value="" size="50">
                        </div>
                    </td>
                    <td width="1%" align="left" nowrap><font class="font13pxgrey">e-Mail address</font></td>
                    <td>
                        <div class="field">
                            <input type="text" id="editemail" name="email" size="100" class="input" value="">
                        </div>
                    </td>
                    <td width="1%" align="left" nowrap><font class="font13pxgrey">Role</font></td>
                    <td>
                        <div class="field">
                            <select name="role" id="editrole">
                                {% for roleitems in roleresult %}
                                <option value="{{ roleitems['id'] }}">{{ roleitems ['name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                <tr>
                    <td colspan="8" align="center">
                        <input type="submit" name="action" id="submitchanges" value="Submit changes" class="button" disabled />
                    </td>
                </tr>
            </form>
        </table>
    </div>
</div>


{% endblock %}
