<!-- (C) Copyright 2021 Hewlett Packard Enterprise Development LP. -->
{% block scripts %}
<script src="static/scripts/jquery-1.10.2.min.js"></script>
<link href="static/stylesheet.css" rel="stylesheet" />
<script type="text/javascript" src="static/main.js"></script>
<script type="text/javascript" src="static/ztpdevice.js"></script>
<script type="text/javascript">
    var url = "static/main.js";
    $.getScript(url);
</script>
{% endblock %}

{% block content %}
{% set pagename = "ZTP Devices" %}
{% include 'navbar.html' %}

{% if totalentries|int % entryperpage|int == 0 %}
{% set totalpages=(totalentries|int/entryperpage|int)|int %}
{% else %}
{% set totalpages=(totalentries|int/entryperpage|int)|int +1 %}
{% endif %}

<div class="ipamStatus" id="ipamStatus"></div>

<span id="maincontainer">
    <table class="tablenoborder" id="ztpTable">
        <form method="post" name="ztpdevice" id="ztpdevice">
            <tr>
                <td align="right">
                    <font class="font11pxgrey">
                        Show <select name="entryperpage" onchange="this.form.submit()">
                            <option value="5" {% if entryperpage|int==5 or entryperpage is not defined %} selected {% endif %}>5</option>
                            <option value="10" {% if entryperpage|int==10 %} selected {% endif %}>10</option>
                            <option value="25" {% if entryperpage|int==25 %} selected {% endif %}>25</option>
                            <option value="50" {% if entryperpage|int==50 %} selected {% endif %}>50</option>
                            <option value="100" {% if entryperpage|int==100 %} selected {% endif %}>100</option>
                        </select> entries per page (page <select name="pageoffset" onchange="this.form.submit()">
                            {% for i in  range(totalpages) %}
                            <option value="{{ (i)*entryperpage|int }}" {% if (pageoffset|int) /(entryperpage|int) ==(i) %}selected{% endif %}>{{ i+1 }}</option>
                            {% endfor %}
                        </select> of {{ totalpages }} pages)
                    </font>
                </td>
            </tr>
    </table>
    <table class="tablenoborder" id="ztpTable">
        <input name="action" type="hidden" value="navigation" />
        <input name='currentpageoffset' type='hidden' value="{{pageoffset}}" />
        <input name='currenttotalentries' type='hidden' value="{{totalentries}}" />
        <input name='totalpages' type="hidden" value="{{ totalpages }}" />
        <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
        <tr>
            <td width="2%" align="left" nowrap><font class="font13pxgrey">ID</font></td>
            <td><font class="font13pxgrey">Name</font></td>
            <td><font class="font13pxgrey">MAC Address</font></td>
            <td><font class="font13pxgrey">IP address/mask</font></td>
            <td><font class="font13pxgrey">Default gateway</font></td>
            <td><font class="font13pxgrey">VRF</font></td>
            <td><font class="font13pxgrey">Software image</font></td>
            <td><font class="font13pxgrey">Template</font></td>
            <td><font class="font13pxgrey">Uplink VLAN</font></td>
            <td><font class="font13pxgrey">ZTP status</font></td>
            <td></td>
        </tr>
        <tr class="tableTitle">
            <td align="left" nowrap>&nbsp;</td>
            <td align="left" valign="top"><input type="text" name="searchName" value="{{ formresult.searchName }}" size="10"></td>
            <td align="left" valign="top"><input type="text" name="searchMacaddress" value="{{ formresult.searchMacaddress }}" size="10"></td>
            <td align="left" valign="top"><input type="text" name="searchIpaddress" value="{{ formresult.searchIpaddress }}" size="10"></td>
            <td align="left" valign="top"><input type="text" name="searchGateway" value="{{ formresult.searchGateway }}" size="10"></td>
            <td align="left" valign="top">
                <select name="searchVrf" onchange="this.form.submit();">
                    <option value="">Select</option>
                    <option value="mgmt" {% if formresult['searchVrf']=="mgmt" %} selected {% endif %}>Management</option>
                    <option value="default" {% if formresult['searchVrf']=="default" %} selected {% endif %}>Default</option>
                </select>
            </td>
            <td align="left" valign="top">
                <select name="searchImage" onchange="this.form.submit();">
                    <option value="">Select</option>
                    {% for items in imageResult %}
                    <option value="{{items['id']}}" {% if items['id']|string==formresult['searchImage'] %} selected {% endif %}>{{items['name']}}</option>
                    {% endfor %}
                </select>
            </td>
            <td align="left" valign="top">
                <select name="searchTemplate" onchange="this.form.submit();">
                    <option value="">Select</option>
                    {% for items in templateResult %}
                    <option value="{{items['id']}}" {% if items['id']|string==formresult['searchTemplate'] %} selected {% endif %}>{{items['name']}}</option>
                    {% endfor %}
                </select>
            </td>
            <td align="left" valign="top"><input type="text" name="searchuplinkVlan" value="{{ formresult.searchuplinkVlan }}" size="10"></td>
            <td></td>
            <td align="right">
                {% if va("ztpdeviceaccess","feature")==False %}
                <button type="button" value="Add device" class="transparent-button" style="opacity:0.2;pointer-events:none;"><img src="static/images/add.svg" width="12" height="12" class="showtitleTooltip" data-title="Add device"></button><button type="submit" name="searchAction" value="Search" class="transparent-button" id="searchDevice" onclick="clearRow(this);"><img src="static/images/search.svg" width="12" height="12" class="showtitleTooltip" data-title="Search"></button>
                {% else %}
                <button type="button" class="transparent-button addDevice" value="Add device" id="addztpDevice" onclick="clearRow(this);" {% if ipamstatus=="Offline" %} disabled {% endif %} {% if va("ztpdeviceaccess","feature")==False %} style="opacity:0.2;pointer-events:none;" {% endif %}><img src="static/images/add.svg" width="12" height="12" class="showtitleTooltip" data-title="Add ZTP device"></button><button type="submit" name="searchAction" value="Search" class="transparent-button" id="searchDevice" onclick="clearRow(this);"><img src="static/images/search.svg" width="12" height="12" class="showtitleTooltip" data-title="Search"></button>
                {% endif %}
            </td>
        </tr>
        </form>
        {% for info in result %}
        {% set ztpvlan=converttoJSON(info['ztpvlan']) %}
        <form method="post" id="ztpDevice{{ info['id'] }}">
            <input name='currentpageoffset' type='hidden' value="{{pageoffset}}" />
            <input name='currenttotalentries' type='hidden' value="{{totalentries}}" />
            <input name='totalpages' type="hidden" value="{{ totalpages }}" />
            <input name='entryperpage' type='hidden' value="{{ entryperpage }}" />
            <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
            <input type="hidden" name="searchName" value="{{ formresult.searchName }}">
            <input type="hidden" name="searchMacaddress" value="{{ formresult.searchMacaddress }}">
            <input type="hidden" name="searchIpaddress" value="{{ formresult.searchIpaddress }}">
            <input type="hidden" name="searchGateway" value="{{ formresult.searchGateway }}">
            <input type="hidden" name="searchVrf" value="{{ formresult.searchVrf }}">
            <input type="hidden" name="searchuplinkVlan" value="{{ formresult.searchuplinkVlan }}">
            <input type="hidden" name="searchImage" value="{{ formresult.searchImage }}">
            <input type="hidden" name="searchTemplate" value="{{ formresult.searchTemplate }}">
            <input type="hidden" name="deviceid" value="{{ info['id'] }}">
            <input type="hidden" name="template" value="{{ info['template'] }}">
            <input type="hidden" name="link1" value="">
            <input type="hidden" name="link2" value="">

            <input type="hidden" name="softwareimage" value="{{ info['image'] }}">
            <tr>
                <td class="'whiteBG"><font class="font10px">{{ loop.index }}</font></td>
                <td class="'whiteBG" nowrap><font class="font10px">{{ info['name'] }}</font></td>
                <td class="'whiteBG"><font class="font10px">{{ info['macaddress'] }}</font></td>
                <td class="'whiteBG"><div id="ipaddress{{ info['id'] }}"><font class="font10px">{% if info['ipaddress']=="0.0.0.0" %} DHCP {% else %} {{ info['ipaddress'] }}/{{ info['netmask'] }}{% endif %}</font></div></td>
                <td class="'whiteBG"><div id="gateway{{ info['id'] }}"><font class="font10px">{% if info['gateway']=="0.0.0.0" %} DHCP {% else %}{{ info['gateway'] }} {% endif %}</font></div></td>
                <td>
                    <div id="vrf{{ info['id'] }}">
                        <font class="font10px">
                            {% if info['vrf']=="mgmt" %} Management
                            {% elif info ['vrf']=="default" %} Default
                            {% else %} DHCP
                            {% endif %}

                        </font>
                    </div>
                </td>
                <td>
                    <font class="font10px">
                        {% if info['softwareimage']|int==0 %}-{% else %}
                        {% for dict_item in imageResult %}
                        {% if dict_item['id']== info['softwareimage'] %}
                        {{dict_item['name']}}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </font>
                </td>
                <td>
                    <font class="font10px">
                        {% if info['template']|int==0 %}-{% else %}
                        {% for dict_item in templateResult %}
                        {% if dict_item['id']== info['template'] %}
                        {{dict_item['name']}}
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                    </font>
                </td>
                <td>
                    <font class="font10px">
                        {{ ztpvlan['uplinkVlan'] }} ({% if ztpvlan['taggedVlan']==1 %}tagged{% else %}untagged{% endif %})


                    </font>
                </td>
                <td nowrap><div class="ztpStatus" id="ztpStatus{{ info['id'] }}" data-deviceid="{{info['id']}}" data-enableztp="{{info['enableztp']}}"><font class="font10px">{{ info['ztpstatus'] }}</font></div></td>
                <td align="right" nowrap id="deviceItem{{info['id']}}">
                    <div class="actionButtons" data-gateway="{{ info['gateway'] }}" id="actionButtons{{ info['id'] }}" data-deviceid="{{ info['id'] }}" data-macaddress="{{ info['macaddress'] }}" data-name="{{ info['name'] }}" data-ztpdeviceaccess="{{ va("ztpdeviceaccess","feature") }}" data-enableztp="{{ info['enableztp'] }}" data-ipamstatus="{{ ipamstatus }}">
                    </div>
                </td>
            </tr>
        </form>
        {% endfor %}

    </table>

    <div id="addDevice" style="display:none;" data-id="">

        <form method="post" enctype="application/JSON" id="adddeviceForm">
            <table class="tablenoborder">
                <tr class="tableTitle">
                    <td width="100%"><font class="font13pxwhite"><center>Add ZTP device</center></font></td>
                </tr>
            </table>
            <table class="tablewithborder">
                <tr class="tableTitle">
                    <input name='currentpageoffset' type='hidden' value="{{pageoffset}}" />
                    <input name='currenttotalentries' type='hidden' value="{{totalentries}}" />
                    <input name='totalpages' type="hidden" value="{{ totalpages }}" />
                    <input name='entryperpage' type='hidden' value="{{ entryperpage }}" />
                    <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
                    <input type="hidden" name="searchName" value="{{ formresult.searchName }}">
                    <input type="hidden" name="searchMacaddress" value="{{ formresult.searchMacaddress }}">
                    <input type="hidden" name="searchIpaddress" value="{{ formresult.searchIpaddress }}">
                    <input type="hidden" name="searchGateway" value="{{ formresult.searchGateway }}">
                    <input type="hidden" name="searchVrf" value="{{ formresult.searchVrf }}">
                    <input type="hidden" name="searchImage" value="{{ formresult.searchImage }}">
                    <input type="hidden" name="searchuplinkVlan" value="{{ formresult.searchuplinkVlan }}">
                    <input type="hidden" name="searchTemplate" value="{{ formresult.searchTemplate }}">
                    <input type="hidden" name="templateparameters" class="templateparameters" />
                    <td width="2%" nowrap align="left" nowrap><font class="font12pxwhite">Name&nbsp;</font></td>
                    <td width="10%" nowrap class="whiteBG" align="left"><input type="text" name="name" id="addName" class="addField input" size="16" minlength="4" required></td>
                    <td width="10%" nowrap align="right"><font class="font12pxwhite">MAC address&nbsp;</font></td>
                    <td width="10%" class="whiteBG"><input type="text" name="macaddress" id="addMacaddress" class="addField input" minlength="12" maxlength="12" size="10" required></td>
                    <td nowrap width="10%" align="right"><font class="font12pxwhite">VRF&nbsp;</font></td>
                    <td width="10%" class="whiteBG">
                        <div>
                            <select name="vrf" id="addVrf" required>
                                <option value="">Select</option>
                                <option value="mgmt">Management</option>
                                <option value="default">Default</option>
                            </select>
                        </div>
                    </td>
                    <td nowrap width="10%" align="right"><font class="font12pxwhite">Software image&nbsp;</font></td>
                    <td width="10%" class="whiteBG">
                        <select name="softwareimage" id="addSoftwareimage" class="selectSoftwareimage">
                            <option value="0">Select</option>
                            {% for dict_item in imageResult %}
                            <option value="{{dict_item['id']}}"> {{dict_item['name']}} ( {{dict_item['filename']}} )</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td nowrap width="10%" align="right"><font class="font12pxwhite">Template&nbsp;</font></td>
                    <td class="whiteBG" width="10%">
                        <select name="template" id="addTemplate" class="selectTemplateparameters">
                            <option value="0">Select</option>
                            {% for dict_item in templateResult %}
                            <option value="{{dict_item['id']}}"> {{dict_item['name']}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
            <br />
            <table class="tablewithborder">
                <tr class="tableTitle">
                    <td nowrap width="15%" align="left">
                        <font class="font12pxwhite">IP Address assignment through DHCP&nbsp;</font>
                        <input type="checkbox" id="addztpdhcp" class="ztpdhcp" name="ztpdhcp" data-deviceid="{{ formresult.id }} class="input" style="vertical-align: middle;" />
                    </td>
                    {% if sysvars['ipamenabled'] is defined %}
                    <input type="hidden" class="ipamnetmask" name="ipamnetmask" id="addipamnetmaskvalue" />
                    <input type="hidden" class="ipamgateway" name="ipamgateway" id="addipamgatewayvalue" />
                    <td width="10%" align="right"><font class="font12pxwhite">Subnet&nbsp;</font></td>
                    <td width="10%" class="whiteBG" align="left">
                        <select name="ipamsubnet" class="ipamsubnet" id="addipamsubnet">
                            <option value="">Select</option>
                        </select>
                    </td>
                    <td width="8%" nowrap align="right"><font class="font12pxwhite">IP Address&nbsp;</font></td>
                    <td width="10%" class="whiteBG" align="left">
                        <select name="ipaddress" class="ipamipaddress" id="addipamipaddress">
                            <option value="">Select</option>
                        </select>
                    </td>
                    <td width="8%" nowrap align="right"><font class="font12pxwhite">Gateway&nbsp;</font></td>
                    <td width="8%" class="whiteBG" align="left">
                        <div class="ipamgatewayDiv" id="addipamgatewayDiv"></div>
                    </td>
                    {% else %}

                    <td width="8%" nowrap align="right"><font class="font12pxwhite">IP address&nbsp;</font></td>
                    <td width="10%" class="whiteBG" align="left"><input type="text" name="ipaddress" id="addIpaddress" class="input" minlength="7" maxlength="15" size="15"></td>
                    <td width="8%" nowrap align="right"><font class="font12pxwhite">Subnet mask&nbsp;</font></td>
                    <td width="10%" class="whiteBG" align="left">
                        <select name="netmask" id="addNetmask">
                            <option value="">Select</option>
                            {% for mask in range(8, 31, 1)  %}
                            <option value="{{ mask }}">/{{ mask }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td width="8%" nowrap align="right"><font class="font12pxwhite">Default gateway&nbsp;</font></td>
                    <td width="8%" class="whiteBG" align="left"><input type="text" name="gateway" id="addGateway" class="input" size="10"></td>
                    {% endif %}
                    <td width="10%" align="right"><font class="font12pxwhite">Uplink VLAN</font></td>
                    <td width="10%" class="whiteBG" align="left"><input type="text" name="uplinkVlan" id="adduplinkVlan" class="input" size="4"></td>
                    <td width="10%" align="right"><font class="font12pxwhite">Tagged</font></td>
                    <td width="3%" class="whiteBG" align="left"><input type="checkbox" id="addtaggedVlan" class=" input taggedVlan" name="taggedVlan" style="vertical-align: middle;" /></td>
                </tr>
            </table>
            <div class="templateparametersDiv" id="addtemplateParametersDiv"></div>
            <table width="100%">
                <tr>
                    <td align="center">
                        <input type="submit" name="action" value="Submit device" class="addActions" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div id="editDevice" style="display:none;" data-id="">

        <form method="post" enctype="application/JSON" id="editdeviceForm">
            <table class="tablenoborder">
                <tr class="tableTitle">
                    <td width="100%"><font class="font13pxwhite"><center>Edit ZTP device</center></font></td>
                </tr>
            </table>
            <table class="tablewithborder">
                <tr class="tableTitle">
                    <input name='currentpageoffset' type='hidden' value="{{pageoffset}}" />
                    <input name='currenttotalentries' type='hidden' value="{{totalentries}}" />
                    <input name='totalpages' type="hidden" value="{{ totalpages }}" />
                    <input name='entryperpage' type='hidden' value="{{ entryperpage }}" />
                    <input name='currententryperpage' type='hidden' value="{{ entryperpage }}" />
                    <input type="hidden" name="searchName" value="{{ formresult.searchName }}">
                    <input type="hidden" name="searchMacaddress" value="{{ formresult.searchMacaddress }}">
                    <input type="hidden" name="searchIpaddress" value="{{ formresult.searchIpaddress }}">
                    <input type="hidden" name="searchGateway" value="{{ formresult.searchGateway }}">
                    <input type="hidden" name="searchVrf" value="{{ formresult.searchVrf }}">
                    <input type="hidden" name="searchImage" value="{{ formresult.searchImage }}">
                    <input type="hidden" name="searchuplinkVlan" value="{{ formresult.searchuplinkVlan }}">
                    <input type="hidden" name="searchTemplate" value="{{ formresult.searchTemplate }}">
                    <input type="hidden" name="deviceid" id="deviceid" value="{{ formresult.id }}">
                    <input type="hidden" name="templateparameters" class="templateparameters" />
                    <td width="10%" align="left" nowrap><font class="font12pxwhite">Name&nbsp;</font></td>
                    <td width="10%" class="whiteBG"><input type="text" name="name" id="editName" class="editField input" size="10" minlength="4"></td>
                    <td width="10%" align="right" nowrap><font class="font12pxwhite">MAC address&nbsp;</font></td>
                    <td width="10%" class="whiteBG" align="left"><input type="text" name="macaddress" id="editMacaddress" class="editField input" minlength="12" maxlength="12" size="10"></td>
                    <td nowrap width="10%" align="right"><font class="font12pxwhite">VRF&nbsp;</font></td>
                    <td width="10%" class="whiteBG" align="left">
                        <select name="vrf" id="editVrf" required>
                            <option value="">Select</option>
                            <option value="mgmt">Management</option>
                            <option value="default">Default</option>
                        </select>
                    </td>
                    <td nowrap width="10%" align="right"><font class="font12pxWhite">Software image&nbsp;</font></td>
                    <td width="10%" class="whiteBG" align="left">
                        <select name="softwareimage" id="editSoftwareimage" class="selectSoftwareimage">
                            <option value="0">Select</option>
                            {% for dict_item in imageResult %}
                            <option value="{{dict_item['id']}}"> {{dict_item['name']}} ( {{dict_item['filename']}} )</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td nowrap width="10%" align="right"><font class="font12pxwhite">Template&nbsp;</font></td>
                    <td width="10%" class="whiteBG" align="left">
                        <select name="template" id="editTemplate" class="selectTemplateparameters" data-deviceid="{{ formresult.id }}">
                            <option value="0">Select</option>
                            {% for dict_item in templateResult %}
                            <option value="{{dict_item['id']}}"> {{dict_item['name']}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
            <br />
                <table class="tablewithborder">
                    <tr class="tableTitle">
                        <td nowrap width="8%" nowrap align="left">
                            <font class="font12pxwhite">IP Address assignment through DHCP&nbsp;&nbsp;</font>
                            <input type="checkbox" id="editztpdhcp" class="ztpdhcp" name="ztpdhcp" data-deviceid="{{ formresult.id }} class="input" style="vertical-align: middle;" />
                        </td>
                        {% if sysvars['ipamenabled'] is defined %}
                        <input type="hidden" class="ipamnetmask" name="ipamnetmask" id="editipamnetmaskvalue" />
                        <input type="hidden" class="ipamgateway" name="ipamgateway" id="editipamgatewayvalue" />
                        <td width="8%" nowrap align="right"><font class="font12pxwhite">Subnet&nbsp;</font></td>
                        <td width="8%" class="whiteBG" align="left">
                            <select name="ipamsubnet" class="ipamsubnet" id="editipamsubnet">
                                <option value="">Select</option>
                            </select>
                        </td>
                        <td width="8%" nowrap align="right"><font class="font12pxwhite">IP Address&nbsp;</font></td>
                        <td width="8%" class="whiteBG" align="left">
                            <select name="ipaddress" class="ipamipaddress" id="editipamipaddress">
                                <option value="">Select</option>
                            </select>
                        </td>
                        <td width="8%" nowrap align="right"><font class="font12pxwhite">Gateway&nbsp;</font></td>
                        <td width="8%" class="whiteBG" align="left">
                            <div class="ipamgatewayDiv" id="editipamgatewayDiv"></div>
                        </td>
                        {% else %}
                        <td width="8%" nowrap align="right"><font class="font12pxwhite">IP address&nbsp;</font></td>
                        <td width="8%" class="whiteBG" align="left"><input type="text" name="ipaddress" id="editIpaddress" class="input" minlength="7" maxlength="15" size="15"></td>
                        <td width="8%" nowrap align="right"><font class="font12pxwhite">Subnet mask&nbsp;</font></td>
                        <td width="8%" class="whiteBG" align="left">
                            <select name="netmask" id="editNetmask">
                                <option value="">Select</option>
                                {% for mask in range(8, 31, 1)  %}
                                <option value="{{ mask }}">/{{ mask }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td width="8%" nowrap align="right"><font class="font12pxwhite">Default gateway&nbsp;</font></td>
                        <td width="8%" class="whiteBG" align="left"><input type="text" name="gateway" id="editGateway" class="input" size="10"></td>
                        {% endif %}
                        <td width="8%" nowrap align="right"><font class="font12pxwhite">Uplink VLAN</font></td width="9%">
                        <td width="8%" class="whiteBG" align="left"><input type="text" name="uplinkVlan" id="edituplinkVlan" class="input" size="4"></td>
                        <td width="8%" align="right"><font class="font12pxwhite">Tagged</font></td>
                        <td width="2%" class="whiteBG" align="left"><input type="checkbox" id="edittaggedVlan" class="input taggedVlan" name="taggedVlan" style="vertical-align: middle;" /></td>
                    </tr>
                </table>
            <div class="templateparametersDiv" id="edittemplateparametersDiv"></div>
            <table width="100%">
                <tr>
                    <td align="center">
                        <input type="submit" name="action" value="Submit changes" class="editActions button" />
                    </td>
                </tr>

            </table>
        </form>
    </div>

    <div id="ztplog" style="display:none;" data-id="">Show log</div>
    <div id="showdevice" style="display:none;" data-id="">Show device information</div>
    <div id="showdaTooltip" type="display:none;"></div>

    </div>

    {% endblock %}
